
.hospital-profile[_ngcontent-serverApp-c117] .col[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-1[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-2[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-3[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-4[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-5[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-6[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-7[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-8[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-9[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-10[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-11[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-12[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-auto[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-1[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-2[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-3[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-4[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-5[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-6[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-7[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-8[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-9[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-10[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-11[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-12[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-lg-auto[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-1[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-2[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-3[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-4[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-5[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-6[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-7[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-8[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-9[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-10[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-11[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-12[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-md-auto[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-1[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-2[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-3[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-4[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-5[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-6[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-7[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-8[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-9[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-10[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-11[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-12[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-sm-auto[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-1[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-2[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-3[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-4[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-5[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-6[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-7[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-8[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-9[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-10[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-11[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-12[_ngcontent-serverApp-c117],
.hospital-profile[_ngcontent-serverApp-c117] .col-xl-auto[_ngcontent-serverApp-c117] {
    padding-right: 0;
    padding-left: 0
}

.hospital-profile[_ngcontent-serverApp-c117] .btn[_ngcontent-serverApp-c117] {
    font-family: unset !important
}

.download-app[_ngcontent-serverApp-c117] {
    width: 100%;
    height: auto;
    color: #fff;
    background: url(/assets/images/download-app.png) 50%/cover no-repeat
}

.download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] {
    padding-top: 100px;
    padding-bottom: 74px
}

.download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] {
    justify-content: center
}

.download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .download-text[_ngcontent-serverApp-c117] {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff
}

.download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .app-store[_ngcontent-serverApp-c117] {
    height: 150px;
    display: flex;
    flex-direction: column
}

.download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .app-store[_ngcontent-serverApp-c117] a[_ngcontent-serverApp-c117]:last-child {
    margin-top: auto
}

.download-app[_ngcontent-serverApp-c117] .title-download[_ngcontent-serverApp-c117] {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.download-app[_ngcontent-serverApp-c117] .title-download[_ngcontent-serverApp-c117] p[_ngcontent-serverApp-c117] {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff
}

@media only screen and (max-width:767px) {
    .download-app[_ngcontent-serverApp-c117] {
        background: url(/assets/images/download-mobile.png) 50%/cover no-repeat;
        background-position: top
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] {
        padding-bottom: 14px;
        height: 512px
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .mobile-content[_ngcontent-serverApp-c117] {
        margin-top: auto
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .mobile-content[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .app-store[_ngcontent-serverApp-c117] {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .mobile-content[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .app-store[_ngcontent-serverApp-c117] a[_ngcontent-serverApp-c117] {
        margin: 5px
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .mobile-content[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .content-end-app2[_ngcontent-serverApp-c117] {
        margin-top: auto;
        display: none
    }

    .download-app[_ngcontent-serverApp-c117] .content-app[_ngcontent-serverApp-c117] .mobile-content[_ngcontent-serverApp-c117] .content-end-app[_ngcontent-serverApp-c117] .content-end-app2[_ngcontent-serverApp-c117] .img-fluid[_ngcontent-serverApp-c117] {
        height: 94px
    }
}
