
.hospital-profile[_ngcontent-serverApp-c177] .col[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-1[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-2[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-3[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-4[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-5[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-6[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-7[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-8[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-9[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-10[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-11[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-12[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-auto[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-1[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-2[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-3[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-4[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-5[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-6[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-7[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-8[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-9[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-10[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-11[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-12[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-lg-auto[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-1[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-2[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-3[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-4[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-5[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-6[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-7[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-8[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-9[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-10[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-11[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-12[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-md-auto[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-1[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-2[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-3[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-4[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-5[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-6[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-7[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-8[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-9[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-10[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-11[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-12[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-sm-auto[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-1[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-2[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-3[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-4[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-5[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-6[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-7[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-8[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-9[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-10[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-11[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-12[_ngcontent-serverApp-c177],
.hospital-profile[_ngcontent-serverApp-c177] .col-xl-auto[_ngcontent-serverApp-c177] {
    padding-right: 0;
    padding-left: 0
}

.hospital-profile[_ngcontent-serverApp-c177] .btn[_ngcontent-serverApp-c177] {
    font-family: unset !important
}

[_ngcontent-serverApp-c177]::-webkit-scrollbar {
    width: 12px;
    cursor: pointer
}

[contenteditable].form-control[_ngcontent-serverApp-c177]:focus,
[type=email].form-control[_ngcontent-serverApp-c177]:focus,
[type=password].form-control[_ngcontent-serverApp-c177]:focus,
[type=tel].form-control[_ngcontent-serverApp-c177]:focus,
[type=text].form-control[_ngcontent-serverApp-c177]:focus,
input.form-control[_ngcontent-serverApp-c177]:focus,
input[type=email][_ngcontent-serverApp-c177]:focus,
input[type=number][_ngcontent-serverApp-c177]:focus,
input[type=password][_ngcontent-serverApp-c177]:focus,
input[type=text][_ngcontent-serverApp-c177]:focus,
select[_ngcontent-serverApp-c177]:focus,
textarea.form-control[_ngcontent-serverApp-c177]:focus,
textarea[_ngcontent-serverApp-c177]:focus {
    box-shadow: inset 0 -1px 0 #ddd
}

[_ngcontent-serverApp-c177]::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #c2e0f4;
    width: 8px
}

[_ngcontent-serverApp-c177]::-webkit-scrollbar-thumb {
    background: #24ae5d;
    border-radius: 13px
}

[_ngcontent-serverApp-c177]::-webkit-scrollbar-thumb:hover {
    background: #11ae47
}

.img-children[_ngcontent-serverApp-c177] {
    width: 100px;
    height: 100px;
    background: url(youmed-default.fb81b6e410e44c00b2ce.jpg) 15% 15%/cover no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer
}

.img_slider[_ngcontent-serverApp-c177] {
    padding: 0 4px
}

.innerShow[_ngcontent-serverApp-c177] {
    display: table;
    height: 100%;
    width: 100%
}

#showGallery[_ngcontent-serverApp-c177] {
    display: none
}

#carousel-custom[_ngcontent-serverApp-c177] {
    width: 100%;
    display: table-cell;
    vertical-align: middle
}

#carousel-custom[_ngcontent-serverApp-c177] .carousel-indicators[_ngcontent-serverApp-c177] {
    margin: 0 auto;
    white-space: nowrap;
    width: 100%;
    position: absolute
}

#carousel-custom[_ngcontent-serverApp-c177] .carousel-indicators[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto
}

#carousel-custom[_ngcontent-serverApp-c177] .carousel-indicators[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] img[_ngcontent-serverApp-c177] {
    display: block;
    opacity: .5
}

#carousel-custom[_ngcontent-serverApp-c177] .carousel-indicators[_ngcontent-serverApp-c177] li.active[_ngcontent-serverApp-c177] img[_ngcontent-serverApp-c177] {
    opacity: 1
}

#carousel-custom[_ngcontent-serverApp-c177] .carousel-indicators[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177]:hover img[_ngcontent-serverApp-c177] {
    opacity: .75
}

#carousel-custom[_ngcontent-serverApp-c177] [class*=top-carousel][_ngcontent-serverApp-c177] {
    max-height: 400px;
    margin: 0 auto
}

#carousel-custom[_ngcontent-serverApp-c177] [class*=bot-carousel][_ngcontent-serverApp-c177] {
    width: 100px;
    height: 100px;
    padding: 15px
}

.overlays-gallery[_ngcontent-serverApp-c177] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity .5s;
    opacity: 1;
    z-index: 1034
}

.title[_ngcontent-serverApp-c177] {
    display: -webkit-inline-box
}

.title[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    color: #000;
    height: 40px;
    line-height: 40px;
    font-weight: 600
}

.title[_ngcontent-serverApp-c177] img[_ngcontent-serverApp-c177] {
    margin-right: 10px;
    width: 40px;
    height: 40px
}

.tien-su-benh[_ngcontent-serverApp-c177] {
    display: flex;
    justify-content: space-between
}

@media screen and (max-width:414px) {
    .tien-su-benh[_ngcontent-serverApp-c177] {
        flex-wrap: wrap
    }
}

.tien-su-benh[_ngcontent-serverApp-c177] .left[_ngcontent-serverApp-c177],
.tien-su-benh[_ngcontent-serverApp-c177] .right[_ngcontent-serverApp-c177] {
    width: 48.5%
}

@media screen and (max-width:414px) {

    .tien-su-benh[_ngcontent-serverApp-c177] .left[_ngcontent-serverApp-c177],
    .tien-su-benh[_ngcontent-serverApp-c177] .right[_ngcontent-serverApp-c177] {
        width: 100%
    }
}

.tien-su-benh[_ngcontent-serverApp-c177] .title[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    font-weight: 400
}

.calendar[_ngcontent-serverApp-c177] {
    background: #18a6df;
    height: 50px
}

.calendar[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    color: #18a6df
}

.calendar[_ngcontent-serverApp-c177]:hover {
    background: #18a6df
}

.calendar[_ngcontent-serverApp-c177]:hover i[_ngcontent-serverApp-c177] {
    color: #000
}

.custom-day[_ngcontent-serverApp-c177] {
    text-align: center;
    padding: .185rem .25rem;
    border-radius: .25rem;
    display: inline-block;
    width: 2rem
}

.text-muted[_ngcontent-serverApp-c177] {
    color: #a9a9a9 !important
}

.custom-day.focused[_ngcontent-serverApp-c177],
.custom-day[_ngcontent-serverApp-c177]:hover {
    background-color: #e6e6e6
}

.weekend[_ngcontent-serverApp-c177] {
    background-color: #f0ad4e;
    border-radius: 1rem;
    color: #fff
}

.hidden[_ngcontent-serverApp-c177] {
    display: none
}

@media only screen and (max-width:768px) {
    .hour[_ngcontent-serverApp-c177] {
        padding-left: 0 !important
    }

    input[_ngcontent-serverApp-c177],
    select[_ngcontent-serverApp-c177] {
        height: 40px !important
    }

    .info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177]:not(.btn-file) {
        width: auto !important
    }

    .non-data[_ngcontent-serverApp-c177] {
        width: 70% !important
    }
}

@media only screen and (max-width:768px) and (max-width:414px) {
    .non-data[_ngcontent-serverApp-c177] {
        width: 100% !important
    }
}

@media only screen and (max-width:768px) {
    .form-group[_ngcontent-serverApp-c177] {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media only screen and (max-width:768px) {
    .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] {
        margin-top: 10px !important
    }

    .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
        visibility: unset;
        display: none
    }
}

@media only screen and (max-width:768px) and (max-width:767px) {
    .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] {
        margin-left: -1px;
        position: absolute;
        right: -32px
    }
}

@media only screen and (max-width:768px) {
    .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] .calendar[_ngcontent-serverApp-c177] {
        height: 40px !important
    }
}

@media only screen and (max-width:768px) {
    .time-date[_ngcontent-serverApp-c177] .hour[_ngcontent-serverApp-c177] {
        padding-left: 10px !important;
        padding-right: 10px !important
    }
}

@media only screen and (max-width:768px) {
    .title[_ngcontent-serverApp-c177] {
        margin-left: 0 !important;
        display: -webkit-inline-box
    }

    .title[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
        font-size: 14px !important
    }

    .title[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
        margin-right: 17px;
        background: url(timer.03eab1393d54c226476b.png) no-repeat 50%
    }

    .title[_ngcontent-serverApp-c177] img[_ngcontent-serverApp-c177] {
        margin-right: 10px
    }
}

@media only screen and (max-width:768px) {
    .nav-item[_ngcontent-serverApp-c177] a[_ngcontent-serverApp-c177] {
        font-size: 14px !important;
        height: 40px !important
    }
}

.choose-patient[_ngcontent-serverApp-c177] {
    padding-left: 15px
}

.choose-wrap[_ngcontent-serverApp-c177] {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0 1px 6px -3px grey;
    border-radius: 10px;
    padding: 16px 30px;
    cursor: pointer;
    position: relative
}

@media screen and (max-width:767px) {
    .choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] {
        width: 50%
    }
}

@media screen and (max-width:414px) {
    .choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] {
        width: 96%
    }
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card.active[_ngcontent-serverApp-c177] {
    background-color: #43bff1
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card.active[_ngcontent-serverApp-c177] .arrow[_ngcontent-serverApp-c177] {
    border: solid #fff;
    border-width: 0 1.5px 1.5px 0
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card.active[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    color: #fff
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] figure[_ngcontent-serverApp-c177] {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%)
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] ul[_ngcontent-serverApp-c177] {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] {
    display: flex;
    margin-bottom: 15px
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177]:last-child {
    margin-bottom: 0
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] img[_ngcontent-serverApp-c177] {
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    font-size: 15px;
    font-weight: 400
}

.choose-wrap[_ngcontent-serverApp-c177] .choose-card[_ngcontent-serverApp-c177] li[_ngcontent-serverApp-c177] p.bold[_ngcontent-serverApp-c177] {
    font-weight: 700
}

.not-booked[_ngcontent-serverApp-c177] {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 10px
}

@media screen and (max-width:991px) {
    .not-booked[_ngcontent-serverApp-c177] {
        justify-content: space-between
    }
}

@media screen and (max-width:767px) {
    .not-booked[_ngcontent-serverApp-c177] {
        flex-direction: column
    }
}

@media screen and (max-width:414px) {
    .not-booked[_ngcontent-serverApp-c177] {
        flex-direction: column
    }
}

.not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] {
    margin-left: 100px
}

@media screen and (max-width:991px) {
    .not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] {
        margin-left: 0
    }
}

@media screen and (max-width:767px) {
    .not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] {
        width: 100%;
        max-width: 370px;
        margin: 0 auto
    }
}

.not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] h3[_ngcontent-serverApp-c177] {
    color: #fff;
    background-color: #31b9f2;
    border-radius: 25px;
    height: 40px;
    font-size: 18px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 395px
}

@media screen and (max-width:767px) {
    .not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] h3[_ngcontent-serverApp-c177] {
        width: auto;
        font-size: 2vw
    }
}

@media screen and (max-width:414px) {
    .not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] h3[_ngcontent-serverApp-c177] {
        font-size: 3.6vw
    }
}

.not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] h3[_ngcontent-serverApp-c177] .down-cherrow[_ngcontent-serverApp-c177] {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin-left: 20px;
    margin-bottom: 7px
}

@media screen and (max-width:414px) {
    .not-booked[_ngcontent-serverApp-c177] .btn-wrap[_ngcontent-serverApp-c177] h3[_ngcontent-serverApp-c177] .down-cherrow[_ngcontent-serverApp-c177] {
        border-width: 0 2px 2px 0;
        margin-left: 12px;
        margin-bottom: 4px;
        padding: 5px
    }
}

.big-wrap[_ngcontent-serverApp-c177] {
    display: none;
    width: 100%
}

.wrapper[_ngcontent-serverApp-c177] {
    display: flex;
    flex-wrap: wrap
}

.wrapper[_ngcontent-serverApp-c177] .remind[_ngcontent-serverApp-c177] {
    color: #aaa;
    padding: 0 30px;
    text-align: center
}

input[_ngcontent-serverApp-c177]::-webkit-inner-spin-button,
input[_ngcontent-serverApp-c177]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number][_ngcontent-serverApp-c177] {
    -moz-appearance: textfield
}

.arrow[_ngcontent-serverApp-c177] {
    border: solid #000;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 8px
}

.right-cherrow[_ngcontent-serverApp-c177] {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.down-cherrow[_ngcontent-serverApp-c177] {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

ngb-datepicker.dropdown-menu {
    width: 90%
}

ngb-datepicker .ngb-dp-month {
    width: 100%
}

ngb-datepicker-month-view .ngb-dp-week,
ngb-datepicker ngb-datepicker-month-view .ngb-dp-week {
    justify-content: space-between
}

ngb-datepicker-month-view .ngb-dp-day {
    pointer-events: auto !important
}

ngb-datepicker-month .ngb-dp-week {
    justify-content: space-between
}

ngb-datepicker-month .ngb-dp-day {
    pointer-events: auto !important
}

.info-register[_ngcontent-serverApp-c177] {
    background-color: #fff;
    box-shadow: 0 1px 6px -3px grey;
    margin: 30px 0;
    border-radius: 10px;
    padding: 15px 35px
}

@media screen and (max-width:991px) {
    .info-register[_ngcontent-serverApp-c177] {
        padding: 15px 0
    }
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] {
    display: flex;
    flex-direction: column
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group.input-group[_ngcontent-serverApp-c177] {
    flex-direction: row
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group.input-group[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177] {
    border-radius: 20px;
    border: 1px solid grey
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    line-height: 30px
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    color: #18a6df;
    margin-right: 8px
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] span[_ngcontent-serverApp-c177] {
    color: red
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group.info[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    line-height: 30px;
    margin-bottom: 0
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group.info[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    color: #18a6df;
    margin-right: 8px
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group.info[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    line-height: 30px
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .radio[_ngcontent-serverApp-c177] {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .radio[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    width: auto !important;
    text-align: center
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .radio[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177] {
    margin-right: 10px;
    height: auto !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-calendar[_ngcontent-serverApp-c177] {
    margin-left: 0 !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-calendar[_ngcontent-serverApp-c177] option[_ngcontent-serverApp-c177] {
    text-align: center
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .form-control[readonly][_ngcontent-serverApp-c177] {
    background-color: #fff !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177] {
    height: 50px;
    border: 1px solid #aaa
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    width: 200px;
    line-height: 50px;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    color: #1e1e1e;
    font-weight: 400
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] textarea[_ngcontent-serverApp-c177] {
    border: 1px solid #aaa;
    width: 100%
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .tien-su-benh[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177],
.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .tien-su-benh[_ngcontent-serverApp-c177] h2[_ngcontent-serverApp-c177] {
    margin-left: 0
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] {
    margin-bottom: 15px !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    visibility: hidden
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left
}

@media screen and (max-width:767px) {
    .info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177] {
        width: 100%;
        position: relative
    }
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .pc-width[_ngcontent-serverApp-c177] input[_ngcontent-serverApp-c177]:focus {
    outline: none
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] {
    padding-left: 0
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] label[_ngcontent-serverApp-c177] {
    visibility: hidden
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] .calendar[_ngcontent-serverApp-c177] {
    border: 1px solid #25ae5d;
    height: 50px;
    border-radius: 20px;
    background: #31b9f2;
    color: #fff;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    right: 24px;
    width: 150px;
    z-index: 88
}

@media screen and (max-width:991px) {
    .info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] .calendar[_ngcontent-serverApp-c177] {
        width: auto;
        right: 26px
    }
}

@media screen and (max-width:767px) {
    .info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] .calendar[_ngcontent-serverApp-c177] {
        width: auto;
        right: 26px
    }
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .date[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] .input-group-append[_ngcontent-serverApp-c177] .calendar[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    color: #fff
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .row[_ngcontent-serverApp-c177] .hour[_ngcontent-serverApp-c177] .dropdown[_ngcontent-serverApp-c177] {
    float: right
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .dropdown[_ngcontent-serverApp-c177] {
    border: 1px solid grey;
    height: 50px;
    border-radius: 50px;
    text-align: left;
    background-color: unset;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .dropdown[_ngcontent-serverApp-c177] option[_ngcontent-serverApp-c177] {
    text-align: center
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .note[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] textarea[_ngcontent-serverApp-c177]:focus {
    box-shadow: 0 0 0 0 #6fcae8 !important
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .note[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] textarea[_ngcontent-serverApp-c177]::-moz-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .note[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] textarea[_ngcontent-serverApp-c177]:-ms-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .time-date[_ngcontent-serverApp-c177] .note[_ngcontent-serverApp-c177] .form-group[_ngcontent-serverApp-c177] textarea[_ngcontent-serverApp-c177]::placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .upload[_ngcontent-serverApp-c177] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .upload[_ngcontent-serverApp-c177] .list-img[_ngcontent-serverApp-c177] {
    height: 348px;
    border: 1px solid #25ae5d;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 30px 50px
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .upload[_ngcontent-serverApp-c177] .list-img[_ngcontent-serverApp-c177] #file-name[_ngcontent-serverApp-c177] {
    height: 280px;
    border: 1px solid #25ae5d;
    background-size: cover
}

.info-register[_ngcontent-serverApp-c177] form[_ngcontent-serverApp-c177] .alert-danger[_ngcontent-serverApp-c177] {
    width: 100%;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    color: red;
    font-weight: 500;
    margin-top: 7px;
    background-color: #fff;
    border-color: #fff;
    margin-bottom: 0
}

.custom-city[_ngcontent-serverApp-c177] {
    height: 50px;
    border: 1px solid #aaa
}

.gender-group[_ngcontent-serverApp-c177] {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px
}

.gender-group[_ngcontent-serverApp-c177] p[_ngcontent-serverApp-c177] {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #000;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-bottom: 0;
    font-weight: 400;
    border: 1px solid #aaa;
    cursor: pointer
}

.gender-group[_ngcontent-serverApp-c177] p.active[_ngcontent-serverApp-c177] {
    background-color: #1ab1ed;
    color: #fff
}

.choose-time[_ngcontent-serverApp-c177] {
    position: relative
}

.choose-time[_ngcontent-serverApp-c177]:before {
    content: "Chọn giờ";
    position: absolute;
    right: -59px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #31b9f2;
    color: #fff;
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    border-radius: 20px
}

@media screen and (max-width:991px) {
    .choose-time[_ngcontent-serverApp-c177]:before {
        width: 100px;
        right: -34px
    }
}

@media screen and (max-width:767px) {
    .choose-time[_ngcontent-serverApp-c177]:before {
        width: 105.1px;
        right: -53px;
        top: 60%;
        height: 40px
    }
}

@media screen and (max-width:767px) {
    .choose-time[_ngcontent-serverApp-c177] {
        padding-left: 0;
        padding-right: 0
    }
}

.choose-time[_ngcontent-serverApp-c177] .title[_ngcontent-serverApp-c177] {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #31b9f2;
    font-size: 1rem;
    color: #fff;
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer
}

@media screen and (max-width:991px) {
    .choose-time[_ngcontent-serverApp-c177] .title[_ngcontent-serverApp-c177] {
        width: 100px;
        top: 0;
        height: 50px
    }
}

@media screen and (max-width:767px) {
    .choose-time[_ngcontent-serverApp-c177] .title[_ngcontent-serverApp-c177] {
        width: 100px;
        top: 10px;
        height: 40px
    }
}

.wrap-btn[_ngcontent-serverApp-c177],
.wrap-btn[_ngcontent-serverApp-c177] .btn-next[_ngcontent-serverApp-c177] {
    display: flex;
    justify-content: center
}

.wrap-btn[_ngcontent-serverApp-c177] .btn-next[_ngcontent-serverApp-c177] {
    border-radius: 50px;
    background: #31b9f2 !important;
    border-color: #31b9f2 !important;
    width: 150px;
    margin-bottom: 30px
}

.wrap-btn[_ngcontent-serverApp-c177] .btn-next[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    margin-right: 5px
}

.wrap-btn[_ngcontent-serverApp-c177] .btn-prev[_ngcontent-serverApp-c177] {
    border-radius: 50px;
    background: #fff !important;
    border-color: #3497db !important;
    color: #3497db !important;
    display: flex;
    width: 150px;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 20px
}

.wrap-btn[_ngcontent-serverApp-c177] .btn-prev[_ngcontent-serverApp-c177] i[_ngcontent-serverApp-c177] {
    margin-right: 5px
}

.non-data[_ngcontent-serverApp-c177] {
    width: 100%
}

#fileupload[_ngcontent-serverApp-c177],
.non-data.gental[_ngcontent-serverApp-c177] {
    display: flex
}

#fileupload[_ngcontent-serverApp-c177] {
    background-color: #fff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #18a6df;
    font-weight: 500;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    line-height: 40px;
    padding: 0 !important;
    cursor: pointer
}

#fileupload[_ngcontent-serverApp-c177] .upload-button-iccon[_ngcontent-serverApp-c177] {
    background: url(cloud-computing.1058765a7328d0aa8d02.svg) no-repeat 50%;
    width: 40px !important;
    height: 40px !important;
    background-size: contain;
    cursor: pointer
}

#fileupload[_ngcontent-serverApp-c177] input[name=file][_ngcontent-serverApp-c177] {
    cursor: pointer;
    height: 40px !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 320px
}

#fileupload[_ngcontent-serverApp-c177]:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, .5)
}
