
        .hospital-profile[_ngcontent-serverApp-c112] .col[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-1[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-2[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-3[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-4[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-5[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-6[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-7[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-8[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-9[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-10[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-11[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-12[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-auto[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-1[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-2[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-3[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-4[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-5[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-6[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-7[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-8[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-9[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-10[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-11[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-12[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-lg-auto[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-1[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-2[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-3[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-4[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-5[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-6[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-7[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-8[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-9[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-10[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-11[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-12[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-md-auto[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-1[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-2[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-3[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-4[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-5[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-6[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-7[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-8[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-9[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-10[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-11[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-12[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-sm-auto[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-1[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-2[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-3[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-4[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-5[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-6[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-7[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-8[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-9[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-10[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-11[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-12[_ngcontent-serverApp-c112],
        .hospital-profile[_ngcontent-serverApp-c112] .col-xl-auto[_ngcontent-serverApp-c112] {
            padding-right: 0;
            padding-left: 0
        }

        .hospital-profile[_ngcontent-serverApp-c112] .btn[_ngcontent-serverApp-c112] {
            font-family: unset !important
        }

        [_nghost-serverApp-c112] mat-progress-bar {
            z-index: 9999999999999;
            top: 0;
            height: 2px;
            position: fixed
        }

        [_nghost-serverApp-c112] mat-progress-bar .mat-progress-bar-buffer {
            background-color: #ececec
        }

        [_nghost-serverApp-c112] mat-progress-bar .mat-progress-bar-fill:after {
            background-color: #18a6df
        }

        [_nghost-serverApp-c112] .connecting[_ngcontent-serverApp-c112] {
            position: fixed;
            top: 0;
            left: 0;
            height: 10px;
            z-index: 1e+31
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] {
            position: fixed;
            right: 0;
            top: 50%
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent[_ngcontent-serverApp-c112] {
            display: none
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] {
            padding: 27px 25px;
            background: #e9f7ee;
            display: flex !important;
            flex-direction: column !important;
            -webkit-animation: zoomSize 1s;
            animation: zoomSize 1s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear
        }

        @-webkit-keyframes zoomSize {
            0% {
                width: 0
            }

            to {
                width: 125px
            }
        }

        @keyframes zoomSize {
            0% {
                width: 0
            }

            to {
                width: 125px
            }
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .app-right[_ngcontent-serverApp-c112],
        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .booking-right[_ngcontent-serverApp-c112] {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: grid;
            text-align: center
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .app-right[_ngcontent-serverApp-c112] i[_ngcontent-serverApp-c112],
        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .booking-right[_ngcontent-serverApp-c112] i[_ngcontent-serverApp-c112] {
            font-size: 20px
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .app-right[_ngcontent-serverApp-c112] {
            border: 7px solid #bbe7ec;
            margin-bottom: 8px;
            background: #02a7e3;
            font-family: Open Sans, sans-serif;
            font-size: 12px;
            color: #fff;
            font-weight: 400
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .parent.show[_ngcontent-serverApp-c112] .booking-right[_ngcontent-serverApp-c112] {
            border: 7px solid #c2e8d1;
            background: #24ae5d;
            font-family: Open Sans, sans-serif;
            font-size: 12px;
            color: #fff;
            font-weight: 400
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .icon-toggle[_ngcontent-serverApp-c112] {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: -23px;
            z-index: -9;
            width: 46px;
            height: 46px;
            background: #a8e4fa;
            border-radius: 50%;
            text-align: center
        }

        [_nghost-serverApp-c112] .icon-app[_ngcontent-serverApp-c112] .icon-toggle[_ngcontent-serverApp-c112] i[_ngcontent-serverApp-c112] {
            line-height: 46px;
            font-size: 25px;
            margin-right: 20px;
            color: #18a6df
        }
