
.hospital-profile[_ngcontent-serverApp-c179] .col[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-1[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-2[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-3[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-4[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-5[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-6[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-7[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-8[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-9[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-10[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-11[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-12[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-auto[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-1[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-2[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-3[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-4[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-5[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-6[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-7[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-8[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-9[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-10[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-11[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-12[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-lg-auto[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-1[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-2[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-3[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-4[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-5[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-6[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-7[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-8[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-9[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-10[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-11[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-12[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-md-auto[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-1[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-2[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-3[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-4[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-5[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-6[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-7[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-8[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-9[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-10[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-11[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-12[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-sm-auto[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-1[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-2[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-3[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-4[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-5[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-6[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-7[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-8[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-9[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-10[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-11[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-12[_ngcontent-serverApp-c179],
.hospital-profile[_ngcontent-serverApp-c179] .col-xl-auto[_ngcontent-serverApp-c179] {
    padding-right: 0;
    padding-left: 0
}

.hospital-profile[_ngcontent-serverApp-c179] .btn[_ngcontent-serverApp-c179] {
    font-family: unset !important
}

[_ngcontent-serverApp-c179]::-webkit-scrollbar {
    width: 12px;
    cursor: pointer
}

[_ngcontent-serverApp-c179]::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #c2e0f4;
    width: 8px
}

[_ngcontent-serverApp-c179]::-webkit-scrollbar-thumb {
    background: #24ae5d;
    border-radius: 13px
}

[_ngcontent-serverApp-c179]::-webkit-scrollbar-thumb:hover {
    background: #11ae47
}

.img-children[_ngcontent-serverApp-c179] {
    width: 100%;
    height: 100px;
    background: url(youmed-default.fb81b6e410e44c00b2ce.jpg) 15% 15%/cover no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer
}

.img_slider[_ngcontent-serverApp-c179] {
    padding: 0 4px
}

.innerShow[_ngcontent-serverApp-c179] {
    display: table;
    height: 100%;
    width: 100%
}

#showGallery[_ngcontent-serverApp-c179] {
    display: none
}

#carousel-custom[_ngcontent-serverApp-c179] {
    width: 100%;
    display: table-cell;
    vertical-align: middle
}

#carousel-custom[_ngcontent-serverApp-c179] .carousel-indicators[_ngcontent-serverApp-c179] {
    margin: 0 auto;
    white-space: nowrap;
    width: 100%;
    position: absolute
}

#carousel-custom[_ngcontent-serverApp-c179] .carousel-indicators[_ngcontent-serverApp-c179] li[_ngcontent-serverApp-c179] {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto
}

#carousel-custom[_ngcontent-serverApp-c179] .carousel-indicators[_ngcontent-serverApp-c179] li[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
    display: block;
    opacity: .5
}

#carousel-custom[_ngcontent-serverApp-c179] .carousel-indicators[_ngcontent-serverApp-c179] li.active[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
    opacity: 1
}

#carousel-custom[_ngcontent-serverApp-c179] .carousel-indicators[_ngcontent-serverApp-c179] li[_ngcontent-serverApp-c179]:hover img[_ngcontent-serverApp-c179] {
    opacity: .75
}

#carousel-custom[_ngcontent-serverApp-c179] [class*=top-carousel][_ngcontent-serverApp-c179] {
    max-height: 400px;
    margin: 0 auto
}

#carousel-custom[_ngcontent-serverApp-c179] [class*=bot-carousel][_ngcontent-serverApp-c179] {
    width: 100px;
    height: 100px;
    padding: 15px
}

.overlays-gallery[_ngcontent-serverApp-c179] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    transition: opacity .5s;
    opacity: 1;
    z-index: 1034
}

.title[_ngcontent-serverApp-c179] {
    display: -webkit-inline-box
}

.title.note[_ngcontent-serverApp-c179] {
    margin-top: 30px
}

.title[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #25ae5d;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px
}

.title[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] {
    width: 40px;
    height: 40px;
    background: url(timer.03eab1393d54c226476b.png) no-repeat 50%
}

.title[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179],
.title[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] {
    margin-right: 10px
}

.calendar[_ngcontent-serverApp-c179] {
    background: #18a6df;
    height: 50px
}

.calendar[_ngcontent-serverApp-c179] i[_ngcontent-serverApp-c179] {
    color: #18a6df
}

.calendar[_ngcontent-serverApp-c179]:hover {
    background: #18a6df
}

.calendar[_ngcontent-serverApp-c179]:hover i[_ngcontent-serverApp-c179] {
    color: #000
}

.booking-section[_ngcontent-serverApp-c179] {
    margin-top: 60px;
    padding-top: 120px;
    padding-bottom: 0;
    position: relative;
    background-color: #f2f2f2
}

@media screen and (max-width:991px) {
    .booking-section[_ngcontent-serverApp-c179] {
        padding-top: 80px
    }
}

@media screen and (max-width:414px) {
    .booking-section[_ngcontent-serverApp-c179] {
        padding-top: 45px;
        padding-bottom: 0
    }
}

.booking-section[_ngcontent-serverApp-c179] .background[_ngcontent-serverApp-c179] {
    position: absolute;
    top: 0;
    width: 100%
}

.booking-section[_ngcontent-serverApp-c179] .background[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] {
    width: 100%;
    max-width: 1106px;
    height: 200px;
    background-size: cover;
    box-shadow: 0 1px 6px -3px grey;
    border-radius: 10px;
    position: relative;
    background: #fff;
    margin: 40px auto 20px
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: flex-start
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .avatar[_ngcontent-serverApp-c179] {
    height: 140px;
    width: 140px;
    z-index: 1;
    margin-left: 20px;
    padding: 1px;
    border: 6px solid hsla(0, 0%, 89.8%, .53);
    border-radius: 50%
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .avatar[_ngcontent-serverApp-c179] .hero-image[_ngcontent-serverApp-c179] {
    height: 100%;
    display: flex;
    width: 100%;
    background-position: 50%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .avatar[_ngcontent-serverApp-c179] span[_ngcontent-serverApp-c179] {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #00ac54;
    font-size: 13px
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .avatar[_ngcontent-serverApp-c179] span[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
    margin-right: 5px;
    width: 15px
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] a[_ngcontent-serverApp-c179] {
    color: #000
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] h2[_ngcontent-serverApp-c179] {
    margin-left: 40px;
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 600
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] {
    margin-bottom: 0;
    margin-left: 40px;
    height: 38px;
    line-height: 38px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    display: flex
}

@media screen and (max-width:767px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] {
        margin-left: 0
    }
}

@media screen and (max-width:414px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] {
        height: auto
    }
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
    margin-right: 10px;
    width: 15px
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] {
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #18a6df;
    margin-right: 8px
}

.booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] i[_ngcontent-serverApp-c179] {
    line-height: 30px;
    color: #18a6df
}

[_nghost-serverApp-c179] .contain ngb-tabset ul {
    display: flex;
    flex-direction: row
}

[_nghost-serverApp-c179] .contain ngb-tabset ul li {
    flex: 1
}

[_nghost-serverApp-c179] .contain ngb-tabset ul a {
    text-align: center;
    height: 50px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    display: none
}

[_nghost-serverApp-c179] .contain ngb-tabset ul a.active {
    background: #25ae5d !important;
    color: #fff
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .07);
    padding: 15px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent {
    max-height: 300px;
    overflow-y: auto !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item {
    margin-right: 15px;
    padding: 10px 20px;
    border: 1px solid #25ae5d;
    display: -webkit-box;
    position: relative;
    margin-top: 12px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item .user,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item .user {
    width: 80%
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item .user .name,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item .user .name {
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: 600
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item .user .info,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item .user .info {
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #1e1e1e;
    font-weight: 500
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item .user .info label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item .user .info label {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    color: #1e1e1e;
    font-weight: 600
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item button,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item button {
    border-radius: 50px;
    background: #3497db !important;
    border-color: #3497db !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .users .parent .item button i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .users .parent .item button i {
    margin-right: 5px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user {
    text-align: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .btn-add-user,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .btn-add-user {
    background: #18a6df !important;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .btn-add-user:hover,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .btn-add-user:hover {
    opacity: .5
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .btn-add-user i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .btn-add-user i {
    margin-right: 10px;
    color: #fff;
    font-size: 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .title-add,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .title-add {
    padding-top: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    color: #02a7e3;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 10px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .title-add:before,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .title-add:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 5px solid #25ae5d
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .d-flex a,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .d-flex a {
    padding: 9px 5px 8px;
    display: inline;
    cursor: pointer;
    border: 1px solid #18a6df !important;
    width: 100%;
    transition: all .3s;
    background: #fff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #18a6df;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 5px 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .d-flex a.active,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .d-flex a:hover,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .d-flex a.active,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .d-flex a:hover {
    background: #18a6df;
    color: #fff
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .title-add,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .title-add {
    font-family: Open Sans, sans-serif;
    font-size: 22px;
    color: #02a7e3;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto 20px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom {
    height: 50px;
    border-radius: 50px 0 0 50px;
    width: 80%;
    text-align: center;
    margin: 0 auto 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom input,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom input {
    padding: 40px;
    height: 100%;
    border-radius: 50px 0 0 50px !important;
    border: 1px solid #6fcae8 !important;
    opacity: 1
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom input:focus,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom input:focus {
    box-shadow: 0 0 0 0 #6fcae8 !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom input::-moz-placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom input::-moz-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom input:-ms-input-placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom input:-ms-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom input::placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom input::placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom .input-group-append,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom .input-group-append {
    width: 110px;
    background: #02a7e3;
    border-radius: 0 50px 50px 0 !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom .input-group-append:hover,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom .input-group-append:hover {
    opacity: .5
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom .input-group-append button,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom .input-group-append button {
    border-radius: 0 50px 50px 0 !important;
    width: 110px;
    background: url(search.ecbb586fec186a9c7803.png) no-repeat 50%;
    cursor: pointer;
    border: 1px solid #02a7e3
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .add-user .search-number .form-custom .input-group-append button:focus,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .add-user .search-number .form-custom .input-group-append button:focus {
    box-shadow: none !important;
    border: none !important;
    outline: 0 auto -webkit-focus-ring-color !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register {
    margin-top: 15px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group {
    display: flex;
    margin-bottom: 4px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group label {
    line-height: 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group label i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group label i {
    color: #18a6df;
    margin-right: 8px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group label span,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group label span {
    color: red
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group.info,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group.info {
    height: 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group.info label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group.info label {
    line-height: 30px;
    margin-bottom: 0
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group.info label i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group.info label i {
    color: #18a6df;
    margin-right: 8px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group.info p,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group.info p {
    line-height: 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group .radio,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group .radio {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group .radio label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group .radio label {
    width: auto !important;
    text-align: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group .radio input,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group .radio input {
    margin-right: 10px;
    height: auto !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group .input-calendar option,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group .input-calendar option {
    text-align: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group .form-control[readonly],
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group .form-control[readonly] {
    background-color: #fff !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group input,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group input {
    height: 50px;
    border-radius: 15px;
    border: 1px solid #25ae5d
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .form-group label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .form-group label {
    width: 200px;
    line-height: 50px;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    color: #1e1e1e;
    font-weight: 600
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form textarea,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form textarea {
    border-radius: 15px;
    border: 1px solid #25ae5d;
    width: 100%
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .tien-su-benh .form-group,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .tien-su-benh h2,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .tien-su-benh .form-group,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .tien-su-benh h2 {
    margin-left: 80px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date {
    margin-bottom: 15px !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .pc-width label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .pc-width label {
    visibility: hidden
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .pc-width input,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .pc-width input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .row .date .form-group .input-group-append label,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .row .date .form-group .input-group-append label {
    visibility: hidden
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .row .date .form-group .input-group-append .calendar,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .row .date .form-group .input-group-append .calendar {
    border: 1px solid #25ae5d;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #25ae5d;
    color: #fff;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .row .date .form-group .input-group-append .calendar i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .row .date .form-group .input-group-append .calendar i {
    color: #fff
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .row .hour,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .row .hour {
    padding-left: 80px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .row .hour .dropdown,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .row .hour .dropdown {
    float: right
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .dropdown,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .dropdown {
    border: 1px solid #25ae5d;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(arrow.43238c223b7a73990844.png) no-repeat 80% 50% #fff
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .dropdown option,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .dropdown option {
    text-align: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .note .form-group textarea:focus,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .note .form-group textarea:focus {
    box-shadow: 0 0 0 0 #6fcae8 !important
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .note .form-group textarea::-moz-placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .note .form-group textarea::-moz-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .note .form-group textarea:-ms-input-placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .note .form-group textarea:-ms-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .time-date .note .form-group textarea::placeholder,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .time-date .note .form-group textarea::placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 300 i;
    opacity: .5;
    font-style: italic
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload .list-img,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload .list-img {
    height: 348px;
    border: 1px solid #25ae5d;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 30px 50px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload .list-img #file-name,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload .list-img #file-name {
    height: 280px;
    border: 1px solid #25ae5d;
    background-size: cover
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload #fileupload,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload #fileupload {
    background-color: #fff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    color: #18a6df;
    font-weight: 500;
    position: relative;
    width: 320px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    line-height: 40px;
    padding: 0 !important;
    border: none !important;
    cursor: pointer
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload #fileupload .upload-button-iccon,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload #fileupload .upload-button-iccon {
    background: url(icon-upload.56c1213046d646e34ccb.png) no-repeat 50%;
    width: 40px !important;
    height: 40px !important;
    margin-right: 15px;
    cursor: pointer
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .upload #fileupload input[name=file],
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .upload #fileupload input[name=file] {
    cursor: pointer;
    height: 40px !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 320px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .alert-danger,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .alert-danger {
    width: 100%;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    color: red;
    font-weight: 400
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .btn-next,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .btn-next {
    border-radius: 50px;
    background: #3497db !important;
    border-color: #3497db !important;
    display: flex;
    margin: 0 auto 30px
}

[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .left .info-register form .btn-next i,
[_nghost-serverApp-c179] .contain ngb-tabset .tab-content .right .info-register form .btn-next i {
    margin-right: 5px
}

@media only screen and (max-width:768px) {
    .hour[_ngcontent-serverApp-c179] {
        padding-left: 0 !important
    }

    input[_ngcontent-serverApp-c179],
    select[_ngcontent-serverApp-c179] {
        height: 40px !important
    }

    .form-group[_ngcontent-serverApp-c179] {
        margin-left: 0 !important;
        padding-left: 10px;
        padding-right: 10px
    }

    .time-date[_ngcontent-serverApp-c179] .pc-width[_ngcontent-serverApp-c179] {
        margin-top: 10px !important
    }

    .time-date[_ngcontent-serverApp-c179] .pc-width[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] {
        visibility: unset;
        display: none
    }

    .time-date[_ngcontent-serverApp-c179] .pc-width[_ngcontent-serverApp-c179] .input-group-append[_ngcontent-serverApp-c179] .calendar[_ngcontent-serverApp-c179] {
        height: 40px !important
    }

    .time-date[_ngcontent-serverApp-c179] .hour[_ngcontent-serverApp-c179] {
        padding-left: 10px !important;
        padding-right: 10px !important
    }

    .title[_ngcontent-serverApp-c179] {
        margin-left: 0 !important;
        display: -webkit-inline-box
    }

    .title[_ngcontent-serverApp-c179] p[_ngcontent-serverApp-c179] {
        font-size: 14px !important
    }

    .title[_ngcontent-serverApp-c179] label[_ngcontent-serverApp-c179] {
        margin-right: 17px;
        background: url(timer.03eab1393d54c226476b.png) no-repeat 50%
    }

    .title[_ngcontent-serverApp-c179] img[_ngcontent-serverApp-c179] {
        margin-right: 10px
    }

    [_nghost-serverApp-c179] ngb-tabset .nav-item a {
        font-size: 12.5px !important;
        height: 40px !important
    }

    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] {
        height: 355px !important
    }
}

@media only screen and (max-width:768px) and (max-width:767px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] {
        height: auto !important;
        margin-top: 0;
        padding-bottom: 20px
    }
}

@media only screen and (max-width:768px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] {
        flex-direction: column;
        height: 355px !important
    }
}

@media only screen and (max-width:768px) and (max-width:414px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] {
        height: auto !important
    }
}

@media only screen and (max-width:768px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .avatar[_ngcontent-serverApp-c179] {
        margin-top: 20px;
        width: 150px;
        height: 150px;
        margin-left: 0
    }
}

@media only screen and (max-width:768px) and (max-width:767px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] {
        margin-top: 20px
    }
}

@media only screen and (max-width:768px) {
    .booking-section[_ngcontent-serverApp-c179] .header[_ngcontent-serverApp-c179] .container[_ngcontent-serverApp-c179] .info[_ngcontent-serverApp-c179] h2[_ngcontent-serverApp-c179] {
        margin-left: 0;
        font-size: 16px;
        margin-top: 10px;
        text-align: center
    }
}

@media only screen and (max-width:768px) {
    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .07);
        padding: 15px
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent {
        max-height: 300px;
        overflow-y: auto !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item {
        margin-right: 15px;
        padding: 10px 20px;
        border: 1px solid #25ae5d;
        display: flex !important;
        flex-direction: column;
        position: relative;
        margin-top: 12px
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item .user {
        width: 80%
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item .user .name {
        margin-bottom: 0;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        color: #1e1e1e;
        font-weight: 600
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item .user .info {
        margin-bottom: 0;
        font-family: Open Sans, sans-serif;
        font-size: 15px;
        color: #1e1e1e;
        font-weight: 500
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item .user .info label {
        font-family: Open Sans, sans-serif;
        font-size: 15px;
        color: #1e1e1e;
        font-weight: 600
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item button {
        border-radius: 50px;
        background: #3497db !important;
        border-color: #3497db !important;
        position: relative !important;
        width: 50%;
        margin: 0 auto;
        transform: none !important;
        margin-bottom: 20px
        
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .users .parent .item button i {
        margin-right: 5px
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .add-user .search-number .title-add {
        font-size: 16px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .add-user .search-number .form-custom {
        height: 40px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .add-user .search-number .form-custom .input-group-append button {
        width: 70px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register {
        margin-top: 15px
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form {
        padding: 10px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .form-group input {
        height: 40px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .form-group label {
        font-size: 13px !important;
        height: 40px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .tien-su-benh .form-group,
    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .tien-su-benh h2 {
        margin-left: 0 !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .upload .list-img {
        height: 300px !important
    }

    .booking-section [_nghost-serverApp-c179] ngb-tabset .contain .tab-content .right .info-register form .upload .list-img #file-name {
        height: 230px !important
    }
}