@model DoctorManagement.ViewModels.System.Users.ForgotPasswordRequest

@{
    ViewData["Title"] = "Quên Mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/News_free-file.png">
    <link rel="icon" type="image/png" href="~/img/News_free-file.png">
    <title>
        @ViewData["Title"]
    </title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->

    <link id="pagestyle" href="~/css/soft-ui-dashboard.min.css?v=1.0.2" rel="stylesheet" />
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>

</head>

<body class="">

    <main class="main-content main-content-bg mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-12 px-5 d-flex flex-column">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left">
                  <h3 class="text-success text-gradient">Đặt lại mật khẩu</h3>
                  <p class="mb-0">Bạn sẽ nhận được e-mail trong tối đa 60 giây</p>
                </div>
                <div class="card-body pb-3">
                  <form asp-action="ForgotPassword" role="form" method="post">
                    <label>E-mail</label>
                    <div class="mb-3">
                      <input asp-for ="Email" type="email" class="form-control" placeholder="Nhập email của bạn" aria-label="Email">
                    </div>
                    <div class="text-center">
                      <button  class="btn bg-gradient-success w-100 mt-4 mb-0">Gửi</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../../img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>
