@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheet{
    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c149] {
            opacity: .4
        }

        [_nghost-serverApp-c149] .ant-tabs-nav-list {
            width: 100%
        }

        [_nghost-serverApp-c149] .ant-tabs-tab {
            width: calc(100% / 3);
            justify-content: center;
            cursor: default !important
        }

        [_nghost-serverApp-c149] .ant-tabs-tab-btn {
            font-weight: 600;
            line-height: 17px;
            --tw-text-opacity: 1;
            color: rgb(75 85 99 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c146] {
            opacity: .4
        }

        @@media only screen and (max-width: 767px) {
            [_nghost-serverApp-c146] .otp-input {
                width: 40px !important;
                height: 44px !important
            }
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c147] {
            opacity: .4
        }

        .ant-form-item[_ngcontent-serverApp-c147] {
            flex-direction: column
        }

        .ant-row[_ngcontent-serverApp-c147] {
            margin: 0
        }
    </style>
    <style>
        .otp-input[_ngcontent-serverApp-c72] {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border: solid 1px #c5c5c5;
            text-align: center;
            font-size: 32px
        }

        .ng-otp-input-wrapper[_ngcontent-serverApp-c72] .otp-input[_ngcontent-serverApp-c72]:not(:last-child) {
            margin-right: 8px
        }

        @@media screen and (max-width: 767px) {
            .otp-input[_ngcontent-serverApp-c72] {
                width: 40px;
                font-size: 24px;
                height: 40px
            }
        }

        @@media screen and (max-width: 420px) {
            .otp-input[_ngcontent-serverApp-c72] {
                width: 30px;
                font-size: 18px;
                height: 30px
            }
        }
    </style>
    <style type="text/css"></style>
    <style>
        [_nghost-serverApp-c155] .ant-tabs-nav-list {
            width: 100%;
            --tw-text-opacity: 1;
            color: rgb(31 41 55 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .tab-link:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab {
            width: 50%;
            justify-content: center
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .form-control[_ngcontent-serverApp-c155] {
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c155]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c155]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c155] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c155] {
            margin-right: 0
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c154] {
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: 0;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem
        }

        .form-control[_ngcontent-serverApp-c154]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c154]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c154] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c154] {
            flex-direction: column;
            margin: 0
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c148] {
            opacity: .4
        }

        [_nghost-serverApp-c148] .ant-select-selector {
            height: 44px !important;
            align-items: center !important;
            border-radius: 4px !important
        }

        [_nghost-serverApp-c148] .ant-select-selection-search {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important
        }

        .ant-radio-group[_ngcontent-serverApp-c148] {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem
        }

        .ant-radio-wrapper[_ngcontent-serverApp-c148] {
            height: 100%;
            width: 50%;
            margin: 0;
            border: 1px solid #d1d5db;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            padding-left: 1rem
        }

        [_nghost-serverApp-c148] .ant-radio {
            top: 0rem
        }
    </style>
    <style>
        cdk-virtual-scroll-viewport {
            display: block;
            position: relative;
            overflow: auto;
            contain: strict;
            transform: translateZ(0);
            will-change: scroll-position;
            -webkit-overflow-scrolling: touch
        }

        .cdk-virtual-scroll-content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            contain: content
        }

        [dir=rtl] .cdk-virtual-scroll-content-wrapper {
            right: 0;
            left: auto
        }

        .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper {
            min-height: 100%
        }

        .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper>dl:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper>ol:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper>table:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper>ul:not([cdkVirtualFor]) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            border-left-width: 0;
            border-right-width: 0;
            outline: none
        }

        .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
            min-width: 100%
        }

        .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper>dl:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper>ol:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper>table:not([cdkVirtualFor]),
        .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper>ul:not([cdkVirtualFor]) {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            border-top-width: 0;
            border-bottom-width: 0;
            outline: none
        }

        .cdk-virtual-scroll-spacer {
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 1px;
            transform-origin: 0 0
        }

        [dir=rtl] .cdk-virtual-scroll-spacer {
            right: 0;
            left: auto;
            transform-origin: 100% 0
        }
    </style>
    <style>
        .wrapper-main[_ngcontent-serverApp-c67] {
            background: linear-gradient(90deg, #00c6fb 0%, #0758d8 98.74%)
        }

        @@media only screen and (max-width: 767px) {
            .banner-navigation[_ngcontent-serverApp-c67] {
                background: white
            }
        }

        .selected[_ngcontent-serverApp-c67] {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [nz-carousel-content][_ngcontent-serverApp-c68] {
            overflow: hidden
        }
    </style>
    <style>
        .main-search[_ngcontent-serverApp-c64] {
            margin: 0;
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: .5rem;
            border-color: transparent;
            padding: .75rem 2.25rem .75rem .75rem;
            font-size: 1rem;
            line-height: 1.5rem
        }

        .main-search[_ngcontent-serverApp-c64]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .main-search[_ngcontent-serverApp-c64]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            outline: 2px solid transparent;
            outline-offset: 2px
        }

        @@media (min-width: 782px) {
            .main-search[_ngcontent-serverApp-c64] {
                padding-right: .75rem;
                padding-left: 3rem
            }
        }

        .main-search[_ngcontent-serverApp-c64]::-webkit-calendar-picker-indicator {
            display: none !important
        }
    </style>
    <style>
        .bookmark_hospital[_ngcontent-serverApp-c66]::-webkit-scrollbar {
            background: transparent;
            width: 0px
        }
    </style>
}

<app-home _nghost-serverapp-c71="" class="ng-star-inserted">
                
                @await Component.InvokeAsync("SearchHome")
                <app-carousel-intro _ngcontent-serverapp-c71="" _nghost-serverapp-c68="">
                    <section _ngcontent-serverapp-c68="" class="pt-10 md:pb-10 md:pt-16 ng-star-inserted">
                        <div _ngcontent-serverapp-c68="" class="max-w-7xl mx-auto px-4 text-center py-4 mb-10">
                            <h2 _ngcontent-serverapp-c68="" class="text-2xl md:text-4xl font-bold mb-3">Đặt lịch khám
                                trực tuyến</h2>
                            <p _ngcontent-serverapp-c68="" class="text-sm font-medium text-gray-500 mb-0">Tìm Bác sĩ
                                chính xác - Đặt lịch khám dễ dàng</p>
                        </div>
                        <div _ngcontent-serverapp-c68="" class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2">
                            <div _ngcontent-serverapp-c68="" class="carousel">
                                <nz-carousel _ngcontent-serverapp-c68="" nzautoplay="" class="ant-carousel">
                                    <div class="slick-initialized slick-slider">
                                        <div tabindex="-1" class="slick-list">
                                            <div class="slick-track" style="width: 1920px;">
                                                <div _ngcontent-serverapp-c68="" nz-carousel-content="" id="content-3"
                                                    class="slide-item slick-slide ng-star-inserted  slick-cloned"
                                                    style="opacity: 0; position: relative; width: 640px; left: 0px; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                                                    <img _ngcontent-serverapp-c68="" width="500" height="500" alt=""
                                                        class="mx-auto  ng-lazyloaded"
                                                        src="~/img/booking/png/Home/Feature1.webp"></div>
                                                <div _ngcontent-serverapp-c68="" nz-carousel-content="" id="content-2"
                                                    class="slide-item slick-slide ng-star-inserted  slick-cloned "
                                                    style="opacity: 0; position: relative; width: 640px; left: -640px; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                                                    <img _ngcontent-serverapp-c68="" width="500" height="500" alt=""
                                                        class="mx-auto  ng-lazyloaded"
                                                        src="~/img/booking/png/Home/Feature2.webp"></div>
                                                <div _ngcontent-serverapp-c68="" nz-carousel-content="" id="content-1"
                                                    class="slide-item slick-slide ng-star-inserted  slick-cloned"
                                                    style="opacity: 1; position: relative; width: 640px; left: -1280px; transition: opacity 500ms ease 0s, visibility 500ms ease 0s;">
                                                    <img _ngcontent-serverapp-c68="" width="500" height="500" alt=""
                                                        class="mx-auto  ng-lazyloaded"
                                                        src="~/img/booking/png/Home/Feature3.webp"></div>
                                            </div>
                                        </div>
                                    </div>
                                </nz-carousel>
                            </div>
                            <div  _ngcontent-serverapp-c68="" class="info relative">
                                <div _ngcontent-serverapp-c68="" class="md:border-l divide-y">
                                    <div _ngcontent-serverapp-c68=""   id="text-slide-1" onclick="showslide(1)"
                                        class="carousel-item cursor-pointer border-l-4 border-l-transparent px-4 py-6 md:p-10 group hover:border-l-primary ng-star-inserted border-l-primary">
                                        <h3 _ngcontent-serverapp-c68=""
                                            class="text-base lg:text-lg font-semibold group-hover:text-primary">Tìm  bác sĩ, phòng khám</h3>
                                        <p _ngcontent-serverapp-c68="" class="text-sm lg:text-base mt-3">Thông tin bệnh
                                            viện, bác sĩ, phòng khám luôn được xác minh và cập nhật liên lục</p>
                                    </div>
                                    <div _ngcontent-serverapp-c68="" id="text-slide-2" onclick="showslide(2)"
                                        class="carousel-item cursor-pointer border-l-4 border-l-transparent px-4 py-6 md:p-10 group hover:border-l-primary ng-star-inserted ">
                                        <h3 _ngcontent-serverapp-c68=""
                                            class="text-base lg:text-lg font-semibold group-hover:text-primary">Đặt khám
                                            dễ dàng</h3>
                                        <p _ngcontent-serverapp-c68="" class="text-sm lg:text-base mt-3">Chủ động đặt
                                            lịch khám, tiết kiệm thời gian, đi khám không chờ đợi</p>
                                    </div>
                                    
                                    <div _ngcontent-serverapp-c68=""  id="text-slide-3" onclick="showslide(3)"
                                        class="carousel-item cursor-pointer border-l-4 border-l-transparent px-4 py-6 md:p-10 group hover:border-l-primary ng-star-inserted">
                                        <h3 _ngcontent-serverapp-c68=""
                                            class="text-base lg:text-lg font-semibold group-hover:text-primary">Trả kết
                                            quả và nhắc lịch khám</h3>
                                        <p _ngcontent-serverapp-c68="" class="text-sm lg:text-base mt-3">Tiết kiệm thời
                                            gian khám</p>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </app-carousel-intro>
                <app-download _ngcontent-serverapp-c71="" _nghost-serverapp-c69="">
                    <section _ngcontent-serverapp-c69="" id="download"
                        class="bg-gradient-to-t md:bg-gradient-to-r from-[#00C6FB] to-[#0758D8]">
                        <div _ngcontent-serverapp-c69="" class="max-w-7xl mx-auto md:grid md:grid-cols-12">
                            <div _ngcontent-serverapp-c69=""
                                class="px-4 py-6 lg:py-12 text-white space-y-6 md:col-span-5 lg:col-span-4">
                                <h2 _ngcontent-serverapp-c69="" class="text-2xl md:text-4xl font-bold text-white">Hãy sử dụng DoctorMed</h2>
                                <ul _ngcontent-serverapp-c69="" class="space-y-4">
                                    <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded"
                                            src="~/img/booking/svg/hospital.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Đặt lịch khám bệnh và xét
                                            nghiệm</span></li>
                                    
                                    <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded" src="~/img/booking/svg/like.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Đặt lịch khám bệnh với các phòng khám</span></li>
                                    
                                    <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded"
                                            src="~/img/booking/svg//shield-security.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Lưu trữ hồ sơ sức khỏe</span>
                                    </li>
                                    
                                   @* <li _ngcontent-serverapp-c69="" class="flex items-center ng-star-inserted"><img
                                            _ngcontent-serverapp-c69="" width="24" height="24" alt="icon"
                                            class="mr-1  ng-lazyloaded"
                                            src="~/img/booking/svg/wallet-minus.svg"><span
                                            _ngcontent-serverapp-c69="" class="text-white">Thanh toán dịch vụ trực
                                            tuyến</span></li>*@
                                    
                                    
                                </ul>
                               @* <div _ngcontent-serverapp-c69="" class="flex gap-4 justify-center md:justify-start"><a
                                        _ngcontent-serverapp-c69="" target="_blank"
                                        href="https://play.google.com/store/apps/details?id=com.DoctorMed.info"><img
                                            _ngcontent-serverapp-c69="" width="135" height="40" loading="lazy"
                                            src="~/img/booking/svg/google-play.svg"
                                            title="Tải ứng dụng đặt khám trên Google Play"
                                            alt="Tải ứng dụng đặt khám trên Google Play"></a><a
                                        _ngcontent-serverapp-c69="" target="_blank"
                                        href="https://itunes.apple.com/gb/app/DoctorMed/id1466077723?mt=8"><img
                                            _ngcontent-serverapp-c69="" width="120" height="40" loading="lazy"
                                            src="~/img/booking/svg/apple-store.svg"
                                            title="Tải ứng dụng đặt khám trên Apple Store"
                                            alt="Tải ứng dụng đặt khám trên Apple Store"></a></div>*@
                            </div>
                            <div _ngcontent-serverapp-c69=""
                                class="md:col-span-7 lg:col-span-8 relative overflow-hidden md:overflow-visible flex items-end justify-center">
                                <img _ngcontent-serverapp-c69="" width="734" height="734"
                                    src="~/img/booking/svg/rounded_full.svg" alt="decor"
                                    class="absolute top-0 lg:-top-1/2">
                                <div _ngcontent-serverapp-c69=""
                                    class="invisible md:visible absolute z-10 bottom-0 max-w-[195.8px] md:max-w-full">
                                    <img _ngcontent-serverapp-c69="" lazyload="~/img/booking/png/ip13.webp"
                                        class="w-full md:max-h-[350px] object-cover  ng-lazyloaded"
                                        src="~/img/booking/png/ip13.webp"></div>
                            </div>
                        </div>
                    </section>
                </app-download>
                @*<app-qs-info _ngcontent-serverapp-c71="" _nghost-serverapp-c70="">
                    <section _ngcontent-serverapp-c70="" id="faqs">
                        <div _ngcontent-serverapp-c70="" class="max-w-7xl mx-auto px-4 py-11 md:py-24">
                            <h2 _ngcontent-serverapp-c70="" class="text-xl md:text-4xl font-bold text-center">Câu hỏi
                                thường gặp</h2>
                            <div _ngcontent-serverapp-c70="" class="max-w-3xl mx-auto my-8">
                                <div _ngcontent-serverapp-c70="" class="ng-star-inserted">
                                    <nz-collapse _ngcontent-serverapp-c70=""
                                        class="ant-collapse bg-transparent border-b border-b-gray-200 border-solid ant-collapse-icon-position-left ant-collapse-ghost ant-collapse-borderless ng-star-inserted">
                                        <nz-collapse-panel _ngcontent-serverapp-c70=""
                                            class="ant-collapse-item font-medium text-lg hover:text-primary leading-6 ng-tns-c53-34 ant-collapse-no-arrow ant-collapse-item-active ng-star-inserted">
                                            <div role="button" class="ant-collapse-header ng-tns-c53-34" aria-expanded="true">
                                                Tôi phải làm gì nếu sau khi chọn đặt khám – thanh toán loại hình
                                                BHYT nhưng khi đến khám thì phòng khám từ chối BHYT của tôi?


                                                <div class="ant-collapse-extra ng-tns-c53-34 ng-star-inserted"><svg
                                                        _ngcontent-serverApp-c70="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20
                                                        20" fill="currentColor"
                                                        class="h-5 w-5 text-gray-500 transition flex-none rotate-180 ng-star-inserted">
                                                        <path _ngcontent-serverApp-c70="" fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>

                                                </div>

                                            </div>
                                            <div
                                                class="ant-collapse-content ng-tns-c53-34 ant-collapse-content-active ng-trigger ng-trigger-collapseMotion">
                                                <div class="ant-collapse-content-box ng-tns-c53-34">
                                                    <div _ngcontent-serverapp-c70=""
                                                        class="text-gray-600 text-base font-normal ng-tns-c53-34">Nếu
                                                        nhân viên bệnh viện xác minh rằng bạn không thuộc đối tượng BHYT
                                                        hoặc thẻ BHYT không còn hiệu lực, bạn có thể:
                                                        – Trường hợp 1: Tiếp tục thực hiện việc khám chữa bệnh với loại
                                                        hình khác không có BHYT, đồng thời chi trả khoản phí khám chênh
                                                        lệch nếu đã thanh toán trên ứng dụng.
                                                        – Trường hợp 2: hủy việc khám chữa bệnh tại bệnh viện.
                                                    </div>
                                                </div>
                                            </div>
                                        </nz-collapse-panel>

                                    </nz-collapse>
                                    <nz-collapse _ngcontent-serverapp-c70=""
                                        class="ant-collapse bg-transparent border-b border-b-gray-200 border-solid ant-collapse-icon-position-left ant-collapse-ghost ant-collapse-borderless ng-star-inserted">
                                        <nz-collapse-panel _ngcontent-serverapp-c70=""
                                            class="ant-collapse-item font-medium text-lg hover:text-primary leading-6 ng-tns-c53-35 ant-collapse-no-arrow ng-star-inserted">
                                            <div role="button" class="ant-collapse-header ng-tns-c53-35" aria-expanded="false">
                                                Tôi có thể bị bệnh viện từ chối sau khi đã đặt lịch khám (và
                                                thanh toán) thành công hay không?


                                                <div class="ant-collapse-extra ng-tns-c53-35 ng-star-inserted"><svg
                                                        _ngcontent-serverApp-c70="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20
                                20" fill="currentColor" class="h-5 w-5 text-gray-500 transition flex-none ng-star-inserted">
                                                        <path _ngcontent-serverApp-c70="" fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>

                                                </div>

                                            </div>
                                            <div class="ant-collapse-content ng-tns-c53-35 ng-trigger ng-trigger-collapseMotion"
                                                style="height: 0px; overflow: hidden; border-top-width: 0px;">
                                                <div class="ant-collapse-content-box ng-tns-c53-35">
                                                    <div _ngcontent-serverapp-c70=""
                                                        class="text-gray-600 text-base font-normal ng-tns-c53-35">Bệnh
                                                        viện sẽ không từ chối khám chữa bệnh sau khi bạn đã đặt khám
                                                        thành công. Tuy nhiên, trong trường hợp thông tin bạn cung cấp
                                                        trên ứng dụng không khớp với thông tin thực tế, bạn có thể không
                                                        được ưu tiên khám trong khung giờ dự kiến và sẽ phải thực hiện
                                                        việc đăng ký khám tại quầy theo quy trình thông thường tại bệnh
                                                        viện.
                                                    </div>
                                                </div>
                                            </div>
                                        </nz-collapse-panel>

                                    </nz-collapse>
                                    <nz-collapse _ngcontent-serverapp-c70=""
                                        class="ant-collapse bg-transparent border-b border-b-gray-200 border-solid ant-collapse-icon-position-left ant-collapse-ghost ant-collapse-borderless ng-star-inserted">
                                        <nz-collapse-panel _ngcontent-serverapp-c70=""
                                            class="ant-collapse-item font-medium text-lg hover:text-primary leading-6 ng-tns-c53-36 ant-collapse-no-arrow ng-star-inserted">
                                            <div role="button" class="ant-collapse-header ng-tns-c53-36" aria-expanded="false">
                                                Tại sao tài khoản của tôi không liên kết được với Hồ sơ Y tế?


                                                <div class="ant-collapse-extra ng-tns-c53-36 ng-star-inserted"><svg
                                                        _ngcontent-serverApp-c70="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-500 transition flex-none ng-star-inserted">
                                                        <path _ngcontent-serverApp-c70="" fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>

                                                </div>

                                            </div>
                                            <div class="ant-collapse-content ng-tns-c53-36 ng-trigger ng-trigger-collapseMotion"
                                                style="height: 0px; overflow: hidden; border-top-width: 0px;">
                                                <div class="ant-collapse-content-box ng-tns-c53-36">
                                                    <div _ngcontent-serverapp-c70=""
                                                        class="text-gray-600 text-base font-normal ng-tns-c53-36">Nếu
                                                        bạn đã thực hiện đầy đủ các thao tác nhưng không liên kết được
                                                        Hồ sơ Y tế thì có thể:
                                                        – Trường hợp 1: Bạn đã nhập sai mã bệnh nhân mà bệnh viện cung
                                                        cấp.
                                                        – Trường hợp 2: Số điện thoại bạn đăng ký tại bệnh viện không
                                                        trùng với số điện thoại bạn đăng ký trên ứng dụng
                                                        Vui lòng liên hệ hotline 19002805 để được hỗ trợ thêm.
                                                    </div>
                                                </div>
                                            </div>
                                        </nz-collapse-panel>

                                    </nz-collapse>
                                    <nz-collapse _ngcontent-serverapp-c70=""
                                        class="ant-collapse bg-transparent border-b border-b-gray-200 border-solid ant-collapse-icon-position-left ant-collapse-ghost ant-collapse-borderless ng-star-inserted">
                                        <nz-collapse-panel _ngcontent-serverapp-c70=""
                                            class="ant-collapse-item font-medium text-lg hover:text-primary leading-6 ng-tns-c53-37 ant-collapse-no-arrow ng-star-inserted">
                                            <div role="button" class="ant-collapse-header ng-tns-c53-37" aria-expanded="false">
                                                Cận lâm sàng là gì?


                                                <div class="ant-collapse-extra ng-tns-c53-37 ng-star-inserted"><svg
                                                        _ngcontent-serverApp-c70="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-500 transition flex-none ng-star-inserted">
                                                        <path _ngcontent-serverApp-c70="" fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>

                                                </div>

                                            </div>
                                            <div class="ant-collapse-content ng-tns-c53-37 ng-trigger ng-trigger-collapseMotion"
                                                style="height: 0px; overflow: hidden; border-top-width: 0px;">
                                                <div class="ant-collapse-content-box ng-tns-c53-37">
                                                    <div _ngcontent-serverapp-c70=""
                                                        class="text-gray-600 text-base font-normal ng-tns-c53-37">Các
                                                        chỉ định cận lâm sàng thường được bác sĩ đưa ra bao gồm:
                                                        Xét nghiệm các mẫu bệnh phẩm như: máu, nước tiểu, dịch tiết…
                                                        Siêu âm: siêu âm tim, siêu âm khớp, siêu âm thai…
                                                        Chụp X quang, chụp cắt lớp vi tính lồng ngực, ổ bụng…
                                                        Chụp cộng hưởng từ não, khớp…
                                                        Đo điện tim, điện cơ, điện não.
                                                        Nội soi: nội soi hô hấp, tiêu hóa,…
                                                        Một số chỉ định xét nghiệm và chẩn đoán khác…
                                                    </div>
                                                </div>
                                            </div>
                                        </nz-collapse-panel>

                                    </nz-collapse>

                                </div>

                                <div _ngcontent-serverapp-c70="" class="flex flex-col justify-center items-center pt-10"><a
                                        _ngcontent-serverapp-c70="" href="https://DoctorMed.vn/faqs/faq/" class="text-primary">Xem các
                                        câu hỏi khác</a></div>
                            </div>
                        </div>
                    </section>
                </app-qs-info>*@
            </app-home>
@section JavaScript{
      
<script>
  function showslide(i){
      $('.carousel-item').removeClass('border-l-primary');

      $('.slide-item').css( "opacity", "0" );
      $('#content-'+i).css( "opacity", "1" );
      $('#text-slide-'+i).addClass('border-l-primary');
  }
	
</script>
}