
@model DoctorManagement.ViewModels.System.Users.ForgotPasswordRequest

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheet{
    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        .wrapper-main[_ngcontent-serverApp-c73] {
            background: linear-gradient(90deg, #00c6fb 0%, #0758d8 98.74%)
        }

        @@media only screen and (max-width: 767px) {
            .banner-navigation[_ngcontent-serverApp-c73] {
                background: white
            }
        }

        .selected[_ngcontent-serverApp-c73] {
            --tw-bg-opacity: 1;
            background-color: rgb(255 255 255 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [nz-carousel-content][_ngcontent-serverApp-c74] {
            overflow: hidden
        }
    </style>
    <style>
        .main-search[_ngcontent-serverApp-c69] {
            margin: 0;
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: .5rem;
            border-color: transparent;
            padding: .75rem 2.25rem .75rem .75rem;
            font-size: 1rem;
            line-height: 1.5rem
        }

        .main-search[_ngcontent-serverApp-c69]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .main-search[_ngcontent-serverApp-c69]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            outline: 2px solid transparent;
            outline-offset: 2px
        }

        @@media (min-width: 782px) {
            .main-search[_ngcontent-serverApp-c69] {
                padding-right: .75rem;
                padding-left: 3rem
            }
        }

        .main-search[_ngcontent-serverApp-c69]::-webkit-calendar-picker-indicator {
            display: none !important
        }
    </style>
    <style>
        .bookmark_hospital[_ngcontent-serverApp-c72]::-webkit-scrollbar {
            background: transparent;
            width: 0px
        }
    </style>
    <style>
        [_nghost-serverApp-c116] .ant-tabs-nav-list {
            width: 100%;
            --tw-text-opacity: 1;
            color: rgb(31 41 55 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c116] .ant-tabs-nav-list .tab-link:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c116] .ant-tabs-nav-list .ant-tabs-tab {
            width: 50%;
            justify-content: center
        }

        [_nghost-serverApp-c116] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500
        }

        [_nghost-serverApp-c116] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c116] .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .form-control[_ngcontent-serverApp-c116] {
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c116]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c116]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c116] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c116] {
            margin-right: 0
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c115] {
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: 0;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem
        }

        .form-control[_ngcontent-serverApp-c115]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c115]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c115] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c115] {
            flex-direction: column;
            margin: 0
        }
    </style>
    <style type="text/css"></style>
    <style>
        .form-control[_ngcontent-serverApp-c125] {
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: 0;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem
        }

        .form-control[_ngcontent-serverApp-c125]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c125]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c125] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c125] {
            flex-direction: column;
            margin: 0 px
        }
    </style>
}

<app-forgot-password _nghost-serverapp-c125="" class="ng-star-inserted">
    <nz-spin _ngcontent-serverapp-c125="" class="ant-spin-nested-loading">
        <div class="ant-spin-container ng-star-inserted">
            <section _ngcontent-serverapp-c125="" class="md:bg-gray-50 ng-star-inserted">
                <div _ngcontent-serverapp-c125=""
                    class="max-w-7xl mx-auto md:px-6 py-10 lg:py-32 md:grid md:grid-cols-12">
                    <div _ngcontent-serverapp-c125="" class="hidden md:flex md:col-span-6 lg:col-span-7">
                        <img _ngcontent-serverapp-c125="" width="500" height="500" loading="lazy"
                            src="~/img/booking/png/Login.png" alt="Đặt khám" class="mx-auto"></div>
                    <div _ngcontent-serverapp-c125="" class="md:col-span-6 lg:col-span-5">
                        <div _ngcontent-serverapp-c125=""
                            class="bg-white md:rounded-lg p-6 md:ring-1 ring-slate-100 md:max-w-md">
                            <div _ngcontent-serverapp-c125=""
                                class="font-medium text-primary text-sm border-b-2 border-b-primary p-2 mb-4 text-center">
                                Quên mật khẩu? </div>
                            <form _ngcontent-serverapp-c125="" asp-action="ForgotPassword" method="post" id="forgot-password"
                                class="flex flex-col gap-8 ant-form ng-untouched ng-pristine ng-invalid ant-form-inline">
                                <div _ngcontent-serverapp-c125="">
                                    <nz-form-item _ngcontent-serverapp-c125=""
                                        class="ant-row ant-form-item">
                                        <nz-form-control _ngcontent-serverapp-c125=""
                                            nzerrortip="Xin vui lòng nhập đúng số điện thoại!"
                                            class="ng-tns-c90-19 ant-form-item-control ant-col ng-star-inserted form-section__form-group">
                                            <div class="ant-form-item-control-input ng-tns-c90-19">
                                                <div
                                                    class="ant-form-item-control-input-content ng-tns-c90-19">
                                                    <label _ngcontent-serverapp-c125="" for="phoneNumber"
                                                        class="form-label ng-tns-c90-19">E-mail</label>
                                                    <div _ngcontent-serverapp-c125=""
                                                        class="flex rounded-md shadow-sm ng-tns-c90-19">
                                                        <input _ngcontent-serverapp-c125="" style="border-radius:0.375rem;"
                                                            asp-for="Email" 
                                                            placeholder="Nhập e-mail của bạn để tiếp tục"
                                                            class="form-control ant-input ng-untouched ng-pristine ng-invalid"
                                                            type="email" ></div>
                                                </div>
                                            </div>
                                                <span asp-validation-for="Email" _ngcontent-serverapp-c169="" class="text-error text-red-500 mt-1 ng-star-inserted"></span>
                                            
                                            
                                        </nz-form-control>
                                        <p _ngcontent-serverapp-c125="" class="mt-2 text-sm text-gray-500">
                                            Bạn sẽ được gửi e-mail trong vòng 60 giây</p>
                                    </nz-form-item>
                                </div>
                                <div _ngcontent-serverapp-c125=""><button _ngcontent-serverapp-c125=""
                                        nz-button=""
                                        class="w-full btn-primary "
                                        > Gửi </button></div>
                            </form>
                            <div _ngcontent-serverapp-c125="" class="text-center text-sm p-6 border-t mt-8">
                                Đã có tài khoản? <a _ngcontent-serverapp-c125=""
                                    class="font-medium text-primary" href="/login">Đăng nhập</a></div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
        
    </nz-spin>
    
</app-forgot-password>
@section Alert{
    <div class="cdk-global-overlay-wrapper" dir="ltr">
      @if (TempData["AlertMessage"] != null)
      {
          <div id="cdk-overlay-9" class="cdk-overlay-pane" style="z-index: 1010; position: static;">
            <nz-message-container>
              <div class="ant-message" style="top: 24px;">
                <nz-message class="ng-tns-c43-75 ng-star-inserted">
                  <div class="ant-message-notice ng-tns-c43-75 ng-trigger ng-trigger-moveUpMotion">
                    <div class="ant-message-notice-content ng-tns-c43-75">
                      <div class="ant-message-custom-content ng-tns-c43-75 ant-message-@TempData["AlertType"]">
                          @if(TempData["AlertType"]=="success"){

                              <i nz-icon="" nztype="check-circle" class="anticon ng-tns-c43-75 anticon-check-circle ng-star-inserted" style="">
                                <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em"
                                    class="ng-tns-c43-75" data-icon="check-circle" aria-hidden="true">
                                    <path
                                      d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0051.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z">
                                    </path>
                                    <path
                                      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                              </i>
                          }else{
                             <i nz-icon="" nztype="close-circle"
                                class="anticon ng-tns-c43-5 anticon-close-circle ng-star-inserted" style=""><svg
                                    viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em"
                                    height="1em" class="ng-tns-c43-5" data-icon="close-circle"
                                    aria-hidden="true">
                                    <path
                                        d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 00-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z">
                                    </path>
                                    <path
                                        d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z">
                                    </path>
                                </svg>
                             </i>

                          }
                        <span class="ng-tns-c43-75 ng-star-inserted" style="">@TempData["AlertMessage"]</span>
                      </div>
                    </div>
                  </div>
                </nz-message>
              </div>
            </nz-message-container>
          </div>
            
      } 
    </div>
    
}
@section JavaScript{
    @*<script>
        var $submit = $('#btn-otp');
        const phoneInput = document.querySelector('#PhoneNumber');
        function checkLength(){
            if(phoneInput.value.length == 10 ){
                $submit.removeClass('bg-gray-300');
                $submit.removeClass('hover:cursor-not-allowed');
                $submit.removeClass('hover:bg-gray-300');
                $submit.removeAttr("disabled");
            } 
            else{
                $submit.addClass('bg-gray-300');
                $submit.addClass('hover:cursor-not-allowed');
                $submit.addClass('hover:bg-gray-300');
                $submit.attr("disabled", true);
            }
        }

        
    </script>*@
    <script src="~/js/Validator1.js"></script>
    <script>
        const formElement = document.querySelector('#forgot-password') ;
        const passwordInputs = formElement.querySelectorAll('[type=password]');
        const toggleShowPasswordBtn = formElement.querySelectorAll('.form-section__form-group-icon');
        const passwordInput = formElement.querySelector('[name=Password]')
        document.addEventListener("DOMContentLoaded", () => {
            // show / hidden password
            // Validate form register
	        Validator({
		        form: "#forgot-password",
		        formGroup: ".form-section__form-group",
		        errorMessage: ".text-error",
		        rules: [
			        Validator.isRequired('#Email', 'Vui lòng nhập e-mail!'),
			        Validator.isEmail('#Email', 'Vui lòng nhập đúng e-mail!'),
		        ]
	        })
        })
    </script>
}


