
@{
    ViewData["Title"] = "RegisterEnterPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheet{
    <style>
        .root-layout[_ngcontent-serverApp-c55] {
            background-color: #f6f6f6
        }
    </style>
    <style>
        .offcanvas-backdrop[_ngcontent-serverApp-c50] {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 30;
            height: 100vh;
            width: 100vw;
            background-color: #1f293799
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .nav-link[_ngcontent-serverApp-c50]:hover {
                background-color: inherit
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: none;
            border-radius: 0;
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity));
            padding: 1.5rem;
            font-weight: 400
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(249 250 251 / var(--tw-bg-opacity))
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-footer[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
                display: block
            }
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50] {
            display: flex;
            border-radius: .5rem;
            padding: 1rem
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-item[_ngcontent-serverApp-c50]:hover {
            background-color: #1a76e30d;
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
            display: none !important
        }

        @@media (min-width: 782px) {
            #primary-menu[_ngcontent-serverApp-c50] .dropdown-toggle[_ngcontent-serverApp-c50] {
                display: flex !important
            }
        }

        @@media (max-width: 782px) {
            .collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }

        .accordion-button[_ngcontent-serverApp-c50]:not(.collapsed) .collapse-control[_ngcontent-serverApp-c50] {
            --tw-rotate: 180deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        @@media (min-width: 782px) {
            .md\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }

            .dropdown-toggle[_ngcontent-serverApp-c50] {
                position: relative
            }

            .dropdown-toggle[_ngcontent-serverApp-c50]:after {
                border-color: #2c2c2c;
                border-style: solid;
                border-width: 0 1px 1px 0;
                content: "";
                display: flex;
                height: 6px;
                margin-top: -3px;
                position: absolute;
                right: 4px;
                top: 50%;
                transform: rotate(45deg);
                transform-origin: 75% 75%;
                transition: transform .1s ease;
                width: 6px
            }
        }

        @@media (min-width: 1024px) {
            .lg\:collapse[_ngcontent-serverApp-c50]:not(.show) {
                display: none
            }
        }
    </style>
    <style>
        [_nghost-serverApp-c54] .ant-collapse-content-box {
            padding: 0 !important
        }

        nz-collapse-panel[_ngcontent-serverApp-c54] {
            padding: 0 !important
        }

        [_nghost-serverApp-c54] .ant-collapse-header {
            cursor: pointer !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
            font-size: .875rem !important;
            line-height: 1.25rem !important;
            font-weight: 600 !important;
            color: currentColor !important
        }

        @@media (min-width: 782px) {
            [_nghost-serverApp-c54] .ant-collapse-header {
                cursor: auto !important
            }

            nz-collapse-panel[_ngcontent-serverApp-c54] {
                border-style: none !important
            }
        }

        a[_ngcontent-serverApp-c54]:hover {
            color: currentColor
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c149] {
            opacity: .4
        }

        [_nghost-serverApp-c149] .ant-tabs-nav-list {
            width: 100%
        }

        [_nghost-serverApp-c149] .ant-tabs-tab {
            width: calc(100% / 3);
            justify-content: center;
            cursor: default !important
        }

        [_nghost-serverApp-c149] .ant-tabs-tab-btn {
            font-weight: 600;
            line-height: 17px;
            --tw-text-opacity: 1;
            color: rgb(75 85 99 / var(--tw-text-opacity))
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c146] {
            opacity: .4
        }

        @@media only screen and (max-width: 767px) {
            [_nghost-serverApp-c146] .otp-input {
                width: 40px !important;
                height: 44px !important
            }
        }
    </style>
    <style>
        [disabled][_ngcontent-serverApp-c147] {
            opacity: .4
        }

        .ant-form-item[_ngcontent-serverApp-c147] {
            flex-direction: column
        }

        .ant-row[_ngcontent-serverApp-c147] {
            margin: 0
        }
    </style>
    <style>
        .otp-input[_ngcontent-serverApp-c72] {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border: solid 1px #c5c5c5;
            text-align: center;
            font-size: 32px
        }

        .ng-otp-input-wrapper[_ngcontent-serverApp-c72] .otp-input[_ngcontent-serverApp-c72]:not(:last-child) {
            margin-right: 8px
        }

        @@media screen and (max-width: 767px) {
            .otp-input[_ngcontent-serverApp-c72] {
                width: 40px;
                font-size: 24px;
                height: 40px
            }
        }

        @@media screen and (max-width: 420px) {
            .otp-input[_ngcontent-serverApp-c72] {
                width: 30px;
                font-size: 18px;
                height: 30px
            }
        }
    </style>
    <style type="text/css"></style>
    <style>
        [_nghost-serverApp-c155] .ant-tabs-nav-list {
            width: 100%;
            --tw-text-opacity: 1;
            color: rgb(31 41 55 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .tab-link:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab {
            width: 50%;
            justify-content: center
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        [_nghost-serverApp-c155] .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            --tw-text-opacity: 1;
            color: rgb(26 118 227 / var(--tw-text-opacity))
        }

        .form-control[_ngcontent-serverApp-c155] {
            display: block;
            width: 100%;
            border-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem;
            --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
            --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
        }

        .form-control[_ngcontent-serverApp-c155]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c155]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c155] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c155] {
            margin-right: 0
        }
    </style>
    <style>
        .form-control[_ngcontent-serverApp-c154] {
            display: block;
            width: 100%;
            flex: 1 1 0%;
            border-radius: 0;
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(229 231 235 / var(--tw-border-opacity));
            padding: .5rem .75rem
        }

        .form-control[_ngcontent-serverApp-c154]::placeholder {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .form-control[_ngcontent-serverApp-c154]:focus {
            --tw-border-opacity: 1;
            border-color: rgb(26 118 227 / var(--tw-border-opacity));
            --tw-ring-opacity: 1;
            --tw-ring-color: rgb(26 118 227 / var(--tw-ring-opacity))
        }

        .form-label[_ngcontent-serverApp-c154] {
            margin-bottom: .25rem;
            display: block;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: rgb(55 65 81 / var(--tw-text-opacity))
        }

        .ant-form-item[_ngcontent-serverApp-c154] {
            flex-direction: column;
            margin: 0
        }
    </style>
}
 <app-register _nghost-serverapp-c149="" class="ng-star-inserted">
                <nz-spin _ngcontent-serverapp-c149="" class="ant-spin-nested-loading">
                    <!---->
                    <!---->
                    <div class="ant-spin-container ng-star-inserted">
                        <div _ngcontent-serverapp-c149="" class="w-full">
                            <div _ngcontent-serverapp-c149=""
                                class="md:max-w-[1280px] md:mx-auto md:flex md:flex-row md:justify-center md:items-center md:gap-10 md:py-[60px]">
                                <div _ngcontent-serverapp-c149="" class="p-6 pb-[60px] md:p-0">
                                    <nz-tabset _ngcontent-serverapp-c149=""
                                        class="ant-tabs md:w-[800px] md:p-6 md:rounded-lg md:border-solid md:border md:border-gray-100 md:shadow-sm ant-tabs-top ant-tabs-default">
                                        <nz-tabs-nav role="tablist" class="ant-tabs-nav ng-star-inserted">
                                            <div class="ant-tabs-nav-wrap">
                                                <div nztabscrolllist="" class="ant-tabs-nav-list"
                                                    style="transform: translate(0px, 0px);">
                                                    <div class="ant-tabs-tab ant-tabs-tab-disabled ng-star-inserted">
                                                        <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                            class="ant-tabs-tab-btn" aria-disabled="true"
                                                            aria-selected="false" aria-controls="nz-tabs-2-tab-0">1.Xác
                                                            thực
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="ant-tabs-tab ant-tabs-tab-disabled ng-star-inserted ant-tabs-tab-active">
                                                        <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                            class="ant-tabs-tab-btn" aria-disabled="true"
                                                            aria-selected="true" aria-controls="nz-tabs-2-tab-1">2.Mật
                                                            khẩu
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <div class="ant-tabs-tab ant-tabs-tab-disabled ng-star-inserted">
                                                        <div role="tab" nztabnavitem="" cdkmonitorelementfocus=""
                                                            class="ant-tabs-tab-btn" aria-disabled="true"
                                                            aria-selected="false" aria-controls="nz-tabs-2-tab-2">3.Tạo
                                                            hồ sơ
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                    <div nz-tabs-ink-bar=""
                                                        class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"
                                                        style="left: 261px; width: 229px;"></div>
                                                </div>
                                            </div>
                                            <nz-tab-nav-operation
                                                class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden"><button
                                                    nz-dropdown="" type="button" tabindex="-1" aria-hidden="true"
                                                    nzoverlayclassname="nz-tabs-dropdown"
                                                    class="ant-dropdown-trigger ant-tabs-nav-more"><i nz-icon=""
                                                        nztype="ellipsis" class="anticon anticon-ellipsis"><svg
                                                            viewBox="64 64 896 896" focusable="false"
                                                            fill="currentColor" width="1em" height="1em"
                                                            data-icon="ellipsis" aria-hidden="true">
                                                            <path
                                                                d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z">
                                                            </path>
                                                        </svg></i></button>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </nz-tab-nav-operation>
                                            <!---->
                                        </nz-tabs-nav>
                                        <!---->
                                        <div class="ant-tabs-content-holder">
                                            <div class="ant-tabs-content ant-tabs-content-top ant-tabs-content-animated"
                                                style="margin-left: -100%;">
                                                <div nz-tab-body="" class="ant-tabs-tabpane ng-star-inserted"
                                                    tabindex="-1" aria-hidden="true"
                                                    style="visibility: hidden; height: 0px;">
                                                    <!---->
                                                </div>
                                                <div nz-tab-body=""
                                                    class="ant-tabs-tabpane ng-star-inserted ant-tabs-tabpane-active"
                                                    tabindex="0" aria-hidden="false" style="">
                                                    <app-create-password _ngcontent-serverapp-c149=""
                                                        _nghost-serverapp-c147="" class="ng-star-inserted">
                                                        <div _ngcontent-serverapp-c147="" class="text-center">
                                                            <p _ngcontent-serverapp-c147="" class="text-sm-w500"> Nhập
                                                                mật khẩu gồm 6 số sử dụng để bảo vệ hồ sơ sức khỏe của
                                                                bạn và đăng nhập những lần sau </p>
                                                            <form _ngcontent-serverapp-c147="" novalidate="" nz-form="" asp-action="RegisterEnterProfile"
                                                                class="flex flex-col gap-6 py-6 ant-form ng-untouched ng-pristine ng-invalid ant-form-inline">
                                                                <nz-form-item _ngcontent-serverapp-c147=""
                                                                    class="ant-row m-0 ant-form-item">
                                                                    <div _ngcontent-serverapp-c147=""
                                                                        class="text-sm-w500 text-gray-700 mb-1">Mật khẩu
                                                                    </div>
                                                                    <nz-form-control _ngcontent-serverapp-c147=""
                                                                        nzerrortip="Mật khẩu bắt buộc 6 số!"
                                                                        class="ng-tns-c98-20 ant-form-item-control ant-col ng-star-inserted">
                                                                        <div
                                                                            class="ant-form-item-control-input ng-tns-c98-20">
                                                                            <div
                                                                                class="ant-form-item-control-input-content ng-tns-c98-20">
                                                                                <nz-input-group
                                                                                    _ngcontent-serverapp-c147=""
                                                                                    class="relative py-3 pl-10 max-h-11 rounded md:max-w-[320px] ng-tns-c98-20 ant-input-affix-wrapper">
                                                                                    <!----><img
                                                                                        _ngcontent-serverapp-c147=""
                                                                                        src="~/img/booking/svg/unlock.svg"
                                                                                        class="absolute left-4 z-10 bottom-1/2 translate-y-1/2 w-[20px] h-[20px] ng-star-inserted"><input
                                                                                        _ngcontent-serverapp-c147=""
                                                                                        formcontrolname="password"
                                                                                        nz-input=""
                                                                                        placeholder="Tạo mật khẩu cho tài khoản"
                                                                                        class="text-sm leading-17 ant-input ng-untouched ng-pristine ng-invalid ng-star-inserted"
                                                                                        type="password" maxlength="6">
                                                                                    <!----><span nz-input-group-slot=""
                                                                                        type="suffix"
                                                                                        class="ant-input-suffix ng-star-inserted">
                                                                                        <!----><img
                                                                                            _ngcontent-serverapp-c147=""
                                                                                            class="w-[20px] h-[20px] ng-star-inserted"
                                                                                            src="~/img/booking/svg/Hide.svg">
                                                                                        <!---->
                                                                                    </span>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                </nz-input-group>
                                                                                <!---->
                                                                            </div><span
                                                                                class="ant-form-item-children-icon ng-tns-c98-20">
                                                                                <!---->
                                                                            </span>
                                                                        </div>
                                                                        <!---->
                                                                        <!---->
                                                                    </nz-form-control>
                                                                    <div _ngcontent-serverapp-c147=""
                                                                        class="flex justify-center mt-10"><button
                                                                            _ngcontent-serverapp-c147="" nz-button=""
                                                                            class="w-full md:w-auto md:px-10 button button--login--form hover:opacity-90"
                                                                            >Tạo mật khẩu</button></div>
                                                                </nz-form-item>
                                                            </form>
                                                        </div>
                                                    </app-create-password>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                </div>
                                                <div nz-tab-body="" class="ant-tabs-tabpane ng-star-inserted"
                                                    tabindex="-1" aria-hidden="true"
                                                    style="visibility: hidden; height: 0px;">
                                                    <!---->
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </nz-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </nz-spin>
            </app-register>

