@model DoctorManagement.ViewModels.System.Users.ResetPasswordRequest

@{
    ViewData["Title"] = "Quên Mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/News_free-file.png">
    <link rel="icon" type="image/png" href="~/img/News_free-file.png">
    <title>
        @ViewData["Title"]
    </title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->

    <link id="pagestyle" href="~/css/soft-ui-dashboard.min.css?v=1.0.2" rel="stylesheet" />
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
     <link rel="stylesheet" href="~/css/style.css">
     	<script src="~/js/plugins/jquery.min.js"></script>
</head>

<body class="">

    <main class="main-content main-content-bg mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-12 px-5 d-flex flex-column">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left">
                  <h3 class="text-success text-gradient">Đặt lại mật khẩu</h3>
                  <p class="mb-0">Bạn sẽ nhận được e-mail trong tối đa 60 giây</p>
                </div>
                <div class="card-body pb-3">
                  <form asp-action="ResetPassword" method="post" id="reset-pass">
                      <input type="hidden" asp-for="Token" />
                      <input type="hidden" asp-for="UserId" />
                        <div class="row">
                            
                            <div class="col-12 form-section__form-group">
                                <label asp-for="NewPassword" class="form-label"></label>
                                <div class="form-section__form-input-wrap">
                                    <input asp-for="NewPassword" class="multisteps-form__input form-control"  />
                                    <span class="form-section__form-group-icon hidden">
								        <i class="fas fa-eye"></i>
								        <i class="fas fa-eye-slash"></i>
							        </span>
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                               
                            </div>

                            <div class="col-12 form-section__form-group">
                                <label asp-for="ConfirmNewPassword" class="form-label "></label>
                                <div class="form-section__form-input-wrap">
                                    <input asp-for="ConfirmNewPassword" class="multisteps-form__input form-control" />
                                    <span class="form-section__form-group-icon hidden">
								        <i class="fas fa-eye"></i>
								        <i class="fas fa-eye-slash"></i>
							        </span>
                                </div>
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        
                    <div class="text-center">
                      <button  class="btn bg-gradient-success w-100 mt-4 mb-0">Cài lại</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../../img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
          <div class="position-fixed bottom-1 end-1 z-index-2" style="top:100px;">
                        @if (TempData["AlertMessage"] != null)
                           {
                                 <div class="toast fade show p-2 bg-gradient-@TempData["AlertType"]" role="alert" aria-live="assertive" id="@TempData["AlertId"]" aria-atomic="true">
                                  <div class="toast-header bg-transparent border-0">
                                    <i class="ni ni-check-bold text-white me-2"></i>
                                    <span class="me-auto text-white font-weight-bold">Cập nhật thông tin</span>
                                    <small class="text-white">vừa xong</small>
                                    <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
                                  </div>
                                  <hr class="horizontal dark m-0">
                                  <div class="toast-body text-white">
                                    @TempData["AlertMessage"]
                                  </div>
                                </div>
                           } 
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<script src="~/js/Validator.js"></script>
<script>
	const formElement = document.querySelector('#reset-pass') 
	const passwordInputs = formElement.querySelectorAll('[type=password]')
	const passwordInput = formElement.querySelector('[name=NewPassword]')
	const currentPasswordInput = formElement.querySelector('[name=CurrentPassword]')
	const formCheckList = formElement.querySelector('.form-section__form-checkList')
	const toggleShowPasswordBtn = formElement.querySelectorAll('.form-section__form-group-icon')

    // Add / remove class in password input
	passwordInput.onfocus = () => {
		if(formCheckList.classList.contains('hidden'))
			formCheckList.classList.remove('hidden')
	}

	// Validate password
	passwordInput.addEventListener('input', () => {
		const regexs = [
			/.{8,}/,
			/(?=(.*[A-Z]))/,
			/(?=.*[a-z])/gm,
			/(?=(.*[0-9]))/gm,
			/(?=.*[\!@@#$%^&*()\\[\]{}\-_+=~`|:;"'<>,./?])/
		]

		regexs.forEach((regex, index) => {
			replaceAllRegex(/ /g, passwordInput, '')
			if(regexs[index].test(passwordInput.value)) {
				if(!formCheckItems[index].classList.contains('checked'))
				formCheckItems[index].classList.add('checked')
			}
			else {
				formCheckItems[index].classList.remove('checked')
			}
		})

	})

	// show / hidden password
	Array.from(passwordInputs).forEach((element, index) => {
		toggleShowPasswordBtn[index].onclick = () => {
			if(toggleShowPasswordBtn[index].classList.contains('hidden')) {
				toggleShowPasswordBtn[index].classList.remove('hidden')
				element.type = "text"
			}
			else {
				toggleShowPasswordBtn[index].classList.add('hidden')
				element.type = "password"
			}
		}
	})
    Validator({
		form: "#reset-pass",
		formGroup: ".form-section__form-group",
		errorMessage: ".text-danger",
		rules: [
			Validator.isRequired('#NewPassword', 'Vui lòng nhập mật khẩu'),
			Validator.minLength('#NewPassword', 8),
			Validator.minCharAlpha('#NewPassword', 1),
			Validator.minCharAlphaUpcase('#NewPassword', 1),
			Validator.minNumber('#NewPassword'),
			Validator.minCharSpecial('#NewPassword'),
			Validator.isRequired('#ConfirmNewPassword', 'Vui lòng nhập lại mật khẩu'),
			Validator.isConfirmed('#ConfirmNewPassword', () => {
				return passwordInput.value
			}, "Mật khẩu nhập lại không chính xác"),
		]
	})
</script>
<script>
		$(function () {
		  
			$('#@TempData["AlertId"]').addClass('slideNotify');
			$('#@TempData["AlertId"]').delay(6000).slideUp(500);


		})
	</script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="~/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</html>

