<app-banner _ngcontent-serverapp-c71="" _nghost-serverapp-c67="" class="ng-tns-c67-33 ng-star-inserted">
                    <section _ngcontent-serverapp-c67=""
                        class="relative bg-gradient-to-r from-[#00C6FB] to-[#0758D8] ng-tns-c67-33">
                        <div _ngcontent-serverapp-c67="" class="md:relative ng-tns-c67-33">
                            <div _ngcontent-serverapp-c67="" class="md:relative z-40 ng-tns-c67-33">
                                <div _ngcontent-serverapp-c67=""
                                    class="max-w-7xl mx-auto py-16 md:py-32 px-4 xl:px-0 ng-tns-c67-33">
                                    <app-search-home _ngcontent-serverapp-c67="" class="ng-tns-c67-33"
                                        _nghost-serverapp-c64="">
                                        <div _ngcontent-serverapp-c64="" class="max-w-4xl">
                                            <div _ngcontent-serverapp-c64="" class="hidden md:flex flex-col">
                                                <h1 _ngcontent-serverapp-c64="" class="text-white">Tìm Bác sĩ chính xác
                                                    - Đặt lịch khám dễ dàng</h1>
                                                <p _ngcontent-serverapp-c64="" class="text-white text-base mt-2 mb-0">
                                                    Giải pháp y tế thông minh giúp tối ưu kết nối, chăm sóc sức khỏe tốt
                                                    hơn cho bạn và cả gia đình </p>
                                            </div>
                                            <div _ngcontent-serverapp-c64=""
                                                class="wrapper-search flex flex-col gap-3 md:pt-6">
                                                <div _ngcontent-serverapp-c64="">
                                                    <div _ngcontent-serverapp-c64="" class="relative flex items-center">
                                                        <button _ngcontent-serverapp-c64=""
                                                            class="absolute bg-transparent flex border-0 right-0 md:right-auto p-4"><img
                                                                _ngcontent-serverapp-c64="" width="18" height="18"
                                                                src="~/img/booking/svg/search-normal-blue.svg"
                                                                class="cursor-pointer object-cover"></button><input
                                                            _ngcontent-serverapp-c64="" list="list-popular-keywords"
                                                            type="search"
                                                            class="form-control main-search ng-untouched ng-pristine ng-valid"
                                                            placeholder="Triệu chứng, bác sĩ, bệnh viện..."></div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-search-home>
                                    <app-popular-keyword _ngcontent-serverapp-c67="" _nghost-serverapp-c65=""
                                        class="ng-tns-c67-33 ng-star-inserted">
                                        <div _ngcontent-serverapp-c65="" class="hidden md:flex py-3 overflow-hidden">
                                            <div _ngcontent-serverapp-c65="" class="flex flex-row gap-6">
                                                <div _ngcontent-serverapp-c65="" class="flex-shrink-0 text-white">Tìm
                                                    kiếm phổ biến:</div>
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    Mỹ mỹ </p>
                                                <!---->
                                                <!---->
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    My my </p>
                                                <!---->
                                                <!---->
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    Phùng nguyễn thế nguyên </p>
                                                <!---->
                                                <!---->
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    Mỹ Mỹ </p>
                                                <!---->
                                                <!---->
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    Phùng Nguyễn Thế Nguyên </p>
                                                <!---->
                                                <!---->
                                                <p _ngcontent-serverapp-c65=""
                                                    class="cursor-pointer whitespace-nowrap underline text-white hover:opacity-50 m-0 ng-star-inserted">
                                                    bá thắng </p>
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!----><datalist _ngcontent-serverapp-c65="" id="list-popular-keywords">
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Mỹ mỹ
                                                    </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> My my
                                                    </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Phùng
                                                        nguyễn thế nguyên </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Mỹ Mỹ
                                                    </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Phùng
                                                        Nguyễn Thế Nguyên </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> bá
                                                        thắng </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Mỹ my
                                                    </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Nhi
                                                        khoa </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> mỹ mỹ
                                                    </option>
                                                    <!---->
                                                    <!---->
                                                    <option _ngcontent-serverapp-c65="" class="ng-star-inserted"> Phòng
                                                        khám mỹ mỹ </option>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                </datalist>
                                            </div>
                                        </div>
                                    </app-popular-keyword>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <app-bookmark-services _ngcontent-serverapp-c67="" class="ng-tns-c67-33"
                                        _nghost-serverapp-c66="">
                                        <!---->
                                    </app-bookmark-services>
                                </div>
                                <div _ngcontent-serverapp-c67=""
                                    class="max-w-7xl mx-auto overflow-hidden grid grid-cols-3 md:grid-cols-6 gap-px bg-gray-100 lg:gap-0 md:bg-white/90 md:backdrop-blur-md md:rounded-t-lg ng-tns-c67-33">
                                    <a id="doctor" _ngcontent-serverapp-c67="" asp-controller="Home" asp-action="Doctor"
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/Doctor.svg" alt="bac-si">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            Đặt khám<br class="md:hidden"> Bác sĩ</div>
                                    </a>
                                    
                                    <a id ="clinic" _ngcontent-serverapp-c67=""  asp-controller="Home" asp-action="Clinic"
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/Clinic.svg" alt="phong-kham">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            Đặt khám<br class="md:hidden"> Phòng khám</div>
                                    </a>
                                    <a id="hospital" _ngcontent-serverapp-c67="" asp-controller="Home" asp-action="Hospital"
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/hospital_blue.svg" alt="benh-vien">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            Đặt khám<br class="md:hidden"> Bệnh viện</div>
                                    </a>
                                    <a _ngcontent-serverapp-c67=""
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/Laboratory.svg" alt="">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            Đặt lịch<br class="md:hidden"> Xét nghiệm</div>
                                    </a>
                                    <a _ngcontent-serverapp-c67=""
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/Store.svg" alt="">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            YouMed<br class="md:hidden"> Store</div>
                                    </a>
                                    <a _ngcontent-serverapp-c67=""
                                        class="bg-white md:bg-transparent flex flex-col lg:flex-row lg:justify-center items-center text-center py-2 cursor-pointer group ng-tns-c67-33 ng-star-inserted">
                                        <img _ngcontent-serverapp-c67="" width="40px" height="40px"
                                            class="w-10 h-10 p-2 object-cover ng-tns-c67-33"
                                            src="~/img/booking/svg/News.svg" alt="">
                                        <div _ngcontent-serverapp-c67=""
                                            class="md:p-2 font-medium whitespace-nowrap text-sm text-center group-hover:text-primary rounded-br-lg rounded-bl-lg line-clamp-2 ng-tns-c67-33">
                                            Tin<br class="md:hidden"> Y tế</div>
                                    </a>
                                    <!---->
                                </div>
                            </div><img _ngcontent-serverapp-c67="" lazyload="~/img/booking/png/Decor.webp"
                                alt="Đặt khám"
                                class="hidden md:block absolute bottom-0 right-0 z-10 w-[676px] h-[520px] ng-tns-c67-33  ng-lazyloaded"
                                src="~/img/booking/png/Decor.webp">
                        </div>
                    </section>
                </app-banner>